@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900);
@font-face {
  font-family: 'Segoe UI';
  src: url("../fonts/SegoeUI-Bold.eot");
  src: url("../fonts/SegoeUI-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUI-Bold.woff2") format("woff2"), url("../fonts/SegoeUI-Bold.woff") format("woff"), url("../fonts/SegoeUI-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a,
input[type="radio"],
input[type="checkbox"],
button,
select,
.btn,
.primary-btn,
.secondary-btn,
.default-btn,
.form-control {
  -moz-transition: all, 0.3s, ease-in-out;
  -o-transition: all, 0.3s, ease-in-out;
  -webkit-transition: all, 0.3s, ease-in-out;
  transition: all, 0.3s, ease-in-out;
}
a:hover, a:focus, a:focus,
input[type="radio"]:hover,
input[type="radio"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:hover,
input[type="checkbox"]:focus,
input[type="checkbox"]:focus,
button:hover,
button:focus,
button:focus,
select:hover,
select:focus,
select:focus,
.btn:hover,
.primary-btn:hover,
.secondary-btn:hover,
.default-btn:hover,
.btn:focus,
.primary-btn:focus,
.secondary-btn:focus,
.default-btn:focus,
.btn:focus,
.primary-btn:focus,
.secondary-btn:focus,
.default-btn:focus,
.form-control:hover,
.form-control:focus,
.form-control:focus {
  text-decoration: none;
  outline: none !important;
  outline-style: none;
  outline-width: 0;
}

p {
  font-size: 14px;
}

a {
  text-decoration: none;
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}

button {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

input[type="text"],
input[type="email"],
input[type="search"],
input[type="password"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  /* mobile firefox too! */
}

img {
  max-width: 100%;
}

textarea.form-control {
  resize: vertical;
}

*::-moz-selection {
  background: #fee252;
  color: #151515;
  text-shadow: none;
}

*::selection {
  background: #fee252;
  color: #151515;
  text-shadow: none;
}

.margin-bottom {
  margin-bottom: 10px;
}

.margin-top {
  margin-top: 10px;
}

.margin-left {
  margin-left: 10px;
}

.margin-right {
  margin-right: 10px;
}

.clear-margin-bottom {
  margin-bottom: 0 !important;
}

.clear-margin-top {
  margin-top: 0 !important;
}

.clear-margin-left {
  margin-left: 0 !important;
}

.clear-margin-right {
  margin-right: 0 !important;
}

.clear-margins {
  margin: 0 !important;
}

body {
  font-family: "Roboto", sans-serif;
  color: #151515;
  background-color: #ffffff;
  font-size: 14px;
}

a {
  color: #151515;
  line-height: 1.42857;
}
a:hover, a:focus, a:active {
  color: #fee252;
  text-decoration: none;
}

p {
  color: #151515;
  margin-bottom: 10px;
  line-height: 1.42857;
  font-weight: 300;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 40px;
}

h4 {
  font-size: 30px;
}

h5 {
  font-size: 24.0px;
}

h6 {
  font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
  color: #151515;
  line-height: 1.42857;
  font-family: "Roboto", sans-serif;
  margin-bottom: 20px;
  font-weight: 400;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  font-size: 85%;
}
h1.light, h2.light, h3.light, h4.light, h5.light, h6.light {
  font-weight: 300;
}
h1.semi-bold, h2.semi-bold, h3.semi-bold, h4.semi-bold, h5.semi-bold, h6.semi-bold {
  font-weight: 500;
}
h1.bold, h2.bold, h3.bold, h4.bold, h5.bold, h6.bold {
  font-weight: 600;
}
h1.extra-bold, h2.extra-bold, h3.extra-bold, h4.extra-bold, h5.extra-bold, h6.extra-bold {
  font-weight: 900;
}
h1.uppercase, h2.uppercase, h3.uppercase, h4.uppercase, h5.uppercase, h6.uppercase {
  text-transform: uppercase;
}

small {
  font-size: 85%;
}

.align-text-left {
  text-align: left;
}

.align-text-center {
  text-align: center;
}

.align-text-right {
  text-align: right;
}

.align-text-justify {
  text-align: justify;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

.capitalize {
  text-transform: capitalize;
}

b, strong {
  font-weight: bold;
}

italic {
  font-style: italic;
}

.mouse_scroll {
  width: 100%;
}
.mouse_scroll .mouse {
  border: 2px solid rgba(49, 40, 25, 0.3);
  margin: auto;
  width: 28px;
  height: 53px;
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
  border-radius: 14px;
  -moz-transform: none;
  -ms-transform: none;
  -webkit-transform: none;
  transform: none;
  -moz-transition: all, 0.3s, ease-in;
  -o-transition: all, 0.3s, ease-in;
  -webkit-transition: all, 0.3s, ease-in;
  transition: all, 0.3s, ease-in;
  cursor: pointer;
}
.mouse_scroll .mouse:hover {
  border: 2px solid rgba(49, 40, 25, 0.5);
}
.mouse_scroll .wheel {
  display: block;
  margin: 5px auto;
  background: #312819;
  position: relative;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  width: 7px;
  height: 7px;
}
.mouse_scroll .wheel {
  -moz-animation: mouse-wheel 2s linear infinite;
  -webkit-animation: mouse-wheel 2s linear infinite;
  animation: mouse-wheel 2s linear infinite;
}
@-moz-keyframes mouse-wheel {
  0% {
    opacity: 1;
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  25% {
    -moz-transform: translateY(8px);
    transform: translateY(8px);
  }
  50% {
    -moz-transform: translateY(12px);
    transform: translateY(12px);
  }
  75% {
    opacity: 0.5;
    -moz-transform: translateY(18px);
    transform: translateY(18px);
  }
}
@-webkit-keyframes mouse-wheel {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  25% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  50% {
    -webkit-transform: translateY(12px);
    transform: translateY(12px);
  }
  75% {
    opacity: 0.5;
    -webkit-transform: translateY(18px);
    transform: translateY(18px);
  }
}
@keyframes mouse-wheel {
  0% {
    opacity: 1;
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  25% {
    -moz-transform: translateY(8px);
    -ms-transform: translateY(8px);
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  50% {
    -moz-transform: translateY(12px);
    -ms-transform: translateY(12px);
    -webkit-transform: translateY(12px);
    transform: translateY(12px);
  }
  75% {
    opacity: 0.5;
    -moz-transform: translateY(18px);
    -ms-transform: translateY(18px);
    -webkit-transform: translateY(18px);
    transform: translateY(18px);
  }
}
.btn, .primary-btn, .secondary-btn, .default-btn {
  font-family: "Segoe UI";
  background-color: transparent;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: none;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  white-space: nowrap;
  font-size: 14px;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.btn.sm, .sm.primary-btn, .sm.secondary-btn, .sm.default-btn {
  font-size: 12px;
  padding: 10px 10px;
}
.btn.lg, .lg.primary-btn, .lg.secondary-btn, .lg.default-btn {
  font-size: 16px;
  padding: 20px 30px;
}

.primary-btn {
  padding: 15px 20px;
  background-color: #fee252;
  color: #151515;
}
.primary-btn:hover, .primary-btn:focus {
  background-color: #ffffff;
  color: #151515;
}

.secondary-btn {
  padding: 15px 20px;
  background-color: #ffffff;
  color: #151515;
}
.secondary-btn:hover {
  background-color: #e6e6e6;
  color: #151515;
}

.default-btn {
  padding: 15px 20px;
  background-color: #cccccc;
  color: #ffffff;
}
.default-btn:hover {
  background-color: #666666;
}

.btn[disabled=disabled], [disabled=disabled].primary-btn, [disabled=disabled].secondary-btn, [disabled=disabled].default-btn,
.btn:disabled,
.primary-btn:disabled,
.secondary-btn:disabled,
.default-btn:disabled {
  color: #a0a0a0;
  background-color: #cccccc;
  cursor: not-allowed;
}

.social-links {
  display: inline-block;
}
.social-links a {
  width: 33px;
  height: 33px;
  line-height: 33px;
  text-align: center;
  -moz-border-radius: 33px;
  -webkit-border-radius: 33px;
  border-radius: 33px;
  display: inline-block;
  margin-right: 10px;
  font-size: 18px;
  background-color: #e6e6e6;
}
.social-links a:hover {
  color: #ffffff;
}
.social-links a.icon-linkedin {
  font-size: 16px;
}
.social-links a.icon-fb:hover {
  background-color: #3b5999;
}
.social-links a.icon-linkedin:hover {
  background-color: #0077B5;
}
.social-links a.icon-twitter:hover {
  background-color: #55acee;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?vom9ns");
  src: url("../fonts/icomoon.eot?vom9ns#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?vom9ns") format("truetype"), url("../fonts/icomoon.woff?vom9ns") format("woff"), url("../fonts/icomoon.svg?vom9ns#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-right-metro:before {
  content: "\e900";
}

.icon-arrow-thin-left:before {
  content: "\e901";
}

.icon-arrow-thin-right:before {
  content: "\e902";
}

.icon-down-arrow-metro:before {
  content: "\e903";
}

.icon-fb:before {
  content: "\e904";
}

.icon-grid:before {
  content: "\e905";
}

.icon-happy:before {
  content: "\e906";
}

.icon-left-arrow-metro:before {
  content: "\e907";
}

.icon-linkedin:before {
  content: "\e908";
}

.icon-list:before {
  content: "\e909";
}

.icon-menu:before {
  content: "\e90a";
}

.icon-normal-arrow-left:before {
  content: "\e90b";
}

.icon-normal-arrow-right:before {
  content: "\e90c";
}

.icon-twitter:before {
  content: "\e90d";
}

/* 
 * 	Core Owl Carousel CSS File
 *	v1.3.3
 */
/* clearfix */
.owl-carousel .owl-wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* display none until init */
.owl-carousel {
  display: none;
  position: relative;
  width: 100%;
  -ms-touch-action: pan-y;
}

.owl-carousel .owl-wrapper {
  display: none;
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-wrapper-outer {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.owl-carousel .owl-wrapper-outer.autoHeight {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}

.owl-carousel .owl-item {
  float: left;
}

.owl-controls .owl-page,
.owl-controls .owl-buttons div {
  cursor: pointer;
}

.owl-controls {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

/* mouse grab icon */
.grabbing {
  cursor: url(../images/grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}

/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.3
*/
.owl-theme .owl-controls {
  margin-top: 10px;
  text-align: center;
}

/* Styling Next and Prev buttons */
/*
.owl-theme .owl-controls .owl-buttons div{
	color: #FFF;
	display: inline-block;
	zoom: 1;
	*display: inline; 
	margin: 5px;
	padding: 3px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	background: #869791;
	filter: Alpha(Opacity=50); 
	opacity: 0.5;
}*/
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover {
  filter: Alpha(Opacity=100);
  /*IE7 fix*/
  opacity: 1;
  text-decoration: none;
}

/* Styling Pagination*/
.owl-theme .owl-controls .owl-page {
  display: inline-block;
  zoom: 1;
  *display: inline;
  /*IE7 life-saver */
}

.owl-theme .owl-controls .owl-page span {
  display: block;
  width: 12px;
  height: 12px;
  margin: 5px 7px;
  filter: Alpha(Opacity=50);
  /*IE7 fix*/
  opacity: 0.5;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background: #869791;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
  filter: Alpha(Opacity=100);
  /*IE7 fix*/
  opacity: 1;
}

/* If PaginationNumbers is true */
.owl-theme .owl-controls .owl-page span.owl-numbers {
  height: auto;
  width: auto;
  color: #FFF;
  padding: 2px 10px;
  font-size: 12px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}

/* preloading images */
.owl-item.loading {
  min-height: 150px;
  background: url(../images/AjaxLoader.gif) no-repeat center center;
}

/* Grid */
.layout-container {
  position: relative;
  *zoom: 1;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.layout-container:before, .layout-container:after {
  content: " ";
  display: table;
}
.layout-container:after {
  clear: both;
}

.layout-wrapper {
  *zoom: 1;
}
.layout-wrapper:before, .layout-wrapper:after {
  content: " ";
  display: table;
}
.layout-wrapper:after {
  clear: both;
}

.layout-xs-1, .layout-sm-1, .layout-md-1, .layout-lg-1, .col-layout-2, .layout-sm-2, .layout-md-2, .layout-lg-2, .col-layout-3, .layout-sm-3, .layout-md-3, .layout-lg-3, .col-layout-4, .layout-sm-4, .layout-md-4, .layout-lg-4, .col-layout-5, .layout-sm-5, .layout-md-5, .layout-lg-5, .col-layout-6, .layout-sm-6, .layout-md-6, .layout-lg-6, .col-layout-7, .layout-sm-7, .layout-md-7, .layout-lg-7, .col-layout-8, .layout-sm-8, .layout-md-8, .layout-lg-8, .col-layout-9, .layout-sm-9, .layout-md-9, .layout-lg-9, .col-layout-10, .layout-sm-10, .layout-md-10, .layout-lg-10, .col-layout-11, .layout-sm-11, .layout-md-11, .layout-lg-11, .col-layout-12, .layout-sm-12, .layout-md-12, .layout-lg-12 {
  position: relative;
  min-height: 1px;
}

@media (min-width: 320px) {
  .layout-xs-1, .layout-xs-2, .layout-xs-3, .layout-xs-4, .layout-xs-5, .layout-xs-6, .layout-xs-7, .layout-xs-8, .layout-xs-9, .layout-xs-10, .layout-xs-11, .layout-xs-12 {
    float: left;
  }

  .layout-xs-1 {
    width: 8.33333%;
  }

  .layout-xs-2 {
    width: 16.66667%;
  }

  .layout-xs-3 {
    width: 25%;
  }

  .layout-xs-4 {
    width: 33.33333%;
  }

  .layout-xs-5 {
    width: 41.66667%;
  }

  .layout-xs-6 {
    width: 50%;
  }

  .layout-xs-7 {
    width: 58.33333%;
  }

  .layout-xs-8 {
    width: 66.66667%;
  }

  .layout-xs-9 {
    width: 75%;
  }

  .layout-xs-10 {
    width: 83.33333%;
  }

  .layout-xs-11 {
    width: 91.66667%;
  }

  .layout-xs-12 {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .layout-sm-1, .layout-sm-2, .layout-sm-3, .layout-sm-4, .layout-sm-5, .layout-sm-6, .layout-sm-7, .layout-sm-8, .layout-sm-9, .layout-sm-10, .layout-sm-11, .layout-sm-12 {
    float: left;
  }

  .layout-sm-1 {
    width: 8.33333%;
  }

  .layout-sm-2 {
    width: 16.66667%;
  }

  .layout-sm-3 {
    width: 25%;
  }

  .layout-sm-4 {
    width: 33.33333%;
  }

  .layout-sm-5 {
    width: 41.66667%;
  }

  .layout-sm-6 {
    width: 50%;
  }

  .layout-sm-7 {
    width: 58.33333%;
  }

  .layout-sm-8 {
    width: 66.66667%;
  }

  .layout-sm-9 {
    width: 75%;
  }

  .layout-sm-10 {
    width: 83.33333%;
  }

  .layout-sm-11 {
    width: 91.66667%;
  }

  .layout-sm-12 {
    width: 100%;
  }

  .layout-container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .layout-md-1, .layout-md-2, .layout-md-3, .layout-md-4, .layout-md-5, .layout-md-6, .layout-md-7, .layout-md-8, .layout-md-9, .layout-md-10, .layout-md-11, .layout-md-12 {
    float: left;
  }

  .layout-md-1 {
    width: 8.33333%;
  }

  .layout-md-2 {
    width: 16.66667%;
  }

  .layout-md-3 {
    width: 25%;
  }

  .layout-md-4 {
    width: 33.33333%;
  }

  .layout-md-5 {
    width: 41.66667%;
  }

  .layout-md-6 {
    width: 50%;
  }

  .layout-md-7 {
    width: 58.33333%;
  }

  .layout-md-8 {
    width: 66.66667%;
  }

  .layout-md-9 {
    width: 75%;
  }

  .layout-md-10 {
    width: 83.33333%;
  }

  .layout-md-11 {
    width: 91.66667%;
  }

  .layout-md-12 {
    width: 100%;
  }

  .layout-container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .layout-lg-1, .layout-lg-2, .layout-lg-3, .layout-lg-4, .layout-lg-5, .layout-lg-6, .layout-lg-7, .layout-lg-8, .layout-lg-9, .layout-lg-10, .layout-lg-11, .layout-lg-12 {
    float: left;
  }

  .layout-lg-1 {
    width: 8.33333%;
  }

  .layout-lg-2 {
    width: 16.66667%;
  }

  .layout-lg-3 {
    width: 25%;
  }

  .layout-lg-4 {
    width: 33.33333%;
  }

  .layout-lg-5 {
    width: 41.66667%;
  }

  .layout-lg-6 {
    width: 50%;
  }

  .layout-lg-7 {
    width: 58.33333%;
  }

  .layout-lg-8 {
    width: 66.66667%;
  }

  .layout-lg-9 {
    width: 75%;
  }

  .layout-lg-10 {
    width: 83.33333%;
  }

  .layout-lg-11 {
    width: 91.66667%;
  }

  .layout-lg-12 {
    width: 100%;
  }

  .layout-container {
    width: 1044px;
  }
}
header {
  padding: 20px 0;
}
header .main-logo {
  color: #312819;
  font-family: "Segoe UI";
  font-size: 26px;
}

.inner-header {
  background: url(../images/inner-header.jpg) no-repeat center center;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
}
.inner-header::before {
  content: '';
  background-color: rgba(254, 226, 82, 0.8);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.inner-header .layout-container {
  z-index: 2;
}
.inner-header .header-content .title-text,
.inner-header .header-content p,
.inner-header .header-content a {
  color: #312819;
}
.inner-header .header-content .title-text {
  margin-bottom: 0;
  font-size: 30px;
}
.inner-header .header-content p {
  font-size: 16px;
  font-weight: normal;
  font-family: "Roboto", sans-serif;
}

.nav-btn {
  float: right;
  position: relative;
  top: 10px;
  width: 26px;
  height: 22px;
}
.nav-btn .menu-line {
  width: 26px;
  height: 4px;
  display: block;
  background-color: #312819;
  -moz-transition: all, 0.2s, ease-in;
  -o-transition: all, 0.2s, ease-in;
  -webkit-transition: all, 0.2s, ease-in;
  transition: all, 0.2s, ease-in;
}
.nav-btn .menu-line:after, .nav-btn .menu-line:before {
  content: "";
  position: relative;
  -moz-transition: all, 0.2s, ease-in;
  -o-transition: all, 0.2s, ease-in;
  -webkit-transition: all, 0.2s, ease-in;
  transition: all, 0.2s, ease-in;
  width: 100%;
  height: 4px;
  background-color: #312819;
  display: block;
  left: 0;
}
.nav-btn .menu-line:before {
  top: -9px;
}
.nav-btn .menu-line:after {
  bottom: -5px;
}
.nav-btn:hover .menu-line:before {
  top: -7px;
}
.nav-btn:hover .menu-line:after {
  bottom: -3px;
}

footer .menu-block {
  padding: 20px 0;
  background-color: #f4f4f4;
  text-align: center;
}
footer .menu-block .footer-logo {
  color: #312819;
  font-family: "Segoe UI";
  font-size: 22px;
  display: block;
}
footer .footer-nav {
  display: inline-block;
}
footer .footer-nav li {
  display: inline-block;
  margin-left: 10px;
}
footer .footer-nav a {
  color: #755f3b;
  font-size: 16px;
  margin-top: 5px;
}
footer .footer-nav a:hover {
  color: #53442a;
}
footer .social-links {
  display: block;
}

.design-quote {
  background-color: #000000;
}
.design-quote .content-quote {
  background: url(../images/LeoBurnett.png) no-repeat 100% 100%;
  -moz-background-size: 40%;
  -o-background-size: 40%;
  -webkit-background-size: 40%;
  background-size: 40%;
  padding: 50px 0;
}
.design-quote .content-quote .messages {
  width: 100%;
  display: inline-block;
}
.design-quote .content-quote p {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}
.design-quote .content-quote .author {
  display: block;
  color: #ffffff;
  font-size: 14px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  margin-top: 25px;
}

.copy-rights {
  padding: 20px 0;
  *zoom: 1;
}
.copy-rights:before, .copy-rights:after {
  content: " ";
  display: table;
}
.copy-rights:after {
  clear: both;
}
.copy-rights span {
  display: inline-block;
  font-size: 12px;
  vertical-align: middle;
  color: #787878;
}
.copy-rights .powered-by span {
  margin-right: 5px;
}
.copy-rights .powered-by .toobler {
  display: inline-block;
}
.copy-rights .powered-by img {
  display: inline-block;
  vertical-align: middle;
}

header {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 100;
}

.intro-stage {
  background-color: #fee252;
  height: 100vh;
  position: relative;
}
.intro-stage .mouse_scroll {
  position: absolute;
  bottom: 10vh;
  margin: auto;
}

.banner {
  text-align: center;
  padding-top: 30vh;
}
.banner h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 10px;
}
.banner p {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #4d4d4d;
  margin-bottom: 20px;
}
.banner .layout-container {
  margin-bottom: 5vh;
}

.approach {
  padding: 30px 0;
}
.approach h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 34px;
  line-height: 34px;
}

.home-main-panel {
  background: #909090 url("../images/bg-home.png") no-repeat center 0;
  padding: 30px 0;
}

.work-with-us-panel .title, .meet-our-team-content .title {
  color: #58595b;
  text-transform: uppercase;
  display: inline-block;
  font-size: 14px;
  position: relative;
  margin: 20px 0 15px;
  font-weight: bold;
}
.work-with-us-panel .title:after, .meet-our-team-content .title:after {
  position: absolute;
  display: block;
  width: 3px;
  height: 12px;
  content: '';
  right: -10px;
  top: 50%;
  margin-top: -5px;
  background: #e1ca4e;
}

.work-with-us-panel .owl-buttons {
  margin: 0 -15px;
  height: calc(50vw - 30px);
}

.work-with-us-panel .owl-next, .work-with-us-panel .owl-prev, .prev-next-wrap .owl-next, .prev-next-wrap .owl-prev, .work-with-us-panel .owl-next, .work-with-us-panel .owl-prev, .prev-next-wrap .owl-next, .prev-next-wrap .owl-prev {
  background: none;
  width: 50%;
  height: calc(50vw - 30px);
  margin: 0;
  float: left;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  position: relative;
}
.work-with-us-panel .owl-next i, .work-with-us-panel .owl-prev i, .prev-next-wrap .owl-next i, .prev-next-wrap .owl-prev i, .work-with-us-panel .owl-next i, .work-with-us-panel .owl-prev i, .prev-next-wrap .owl-next i, .prev-next-wrap .owl-prev i {
  color: #666666;
  font-size: 12vw;
  top: 50%;
  left: 0;
  right: 0;
  margin-top: -13%;
  position: absolute;
}
.work-with-us-panel .owl-next:hover, .work-with-us-panel .owl-prev:hover, .prev-next-wrap .owl-next:hover, .prev-next-wrap .owl-prev:hover, .work-with-us-panel .owl-next:hover, .work-with-us-panel .owl-prev:hover, .prev-next-wrap .owl-next:hover, .prev-next-wrap .owl-prev:hover {
  background: #f0f0f0;
}

.work-with-us-panel {
  background: #fff;
  /*.owl-next .icon-arrow-thin-right{
      right:-5px;
      left:auto;
  }*/
}
.work-with-us-panel .workwithus-carousel-wrap {
  padding: 15px 15px 0;
}
.work-with-us-panel h4 {
  font-size: 18px;
  line-height: 26px;
}
.work-with-us-panel p {
  display: none;
}
.work-with-us-panel .owl-controls {
  margin: 0;
}

.major-works-panel {
  background: #0076b2;
  text-align: center;
  padding: 40px 0 50px;
}
.major-works-panel .owl-controls {
  position: relative;
}
.major-works-panel .owl-controls .owl-pagination {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -30px;
}
.major-works-panel .owl-controls .owl-pagination .owl-page span {
  background: #fff;
  width: 10px;
  height: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.major-works-img {
  max-width: 100%;
  padding: 0 12%;
}

.major-works-box h2 {
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
}
.major-works-box p {
  display: none;
}
.major-works-box .btn-major-works {
  color: #0076b2;
  background: #fff;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  padding: 8px 17px;
  font-size: 16px;
  display: inline-block;
}
.major-works-box .btn-major-works:hover {
  color: #000;
}

.block-wrap .block {
  height: calc(100vw - 25vw);
  display: block;
  position: relative;
  cursor: pointer;
  text-align: center;
  -moz-transition: none;
  -o-transition: none;
  -webkit-transition: none;
  transition: none;
}
.block-wrap .block span {
  position: absolute;
  bottom: 21%;
  left: 0;
  right: 0;
  text-decoration: underline;
  font-size: 5vw;
  color: #58595b;
  text-transform: lowercase;
}
.block-wrap .block:hover span {
  color: #000;
}
.block-wrap .block:hover span {
  text-decoration: none;
}
.block-wrap .more-works, .block-wrap .work-with-us-link {
  height: calc(50vw - 30px);
}
.block-wrap .more-works span, .block-wrap .work-with-us-link span {
  font-size: 4vw;
  bottom: 14%;
}
.block-wrap .more-works {
  background: #fee252 url("../images/ico-seemoreworks.png") no-repeat center calc(50% - 10px);
}
.block-wrap .work-with-us-link {
  background: #fafafa url("../images/ico-work-with-us-link.png") no-repeat center calc(50% - 10px);
}
.block-wrap .about-team {
  background: #fee252 url("../images/ico-about.png") no-repeat center calc(50% - 20px);
}
.block-wrap .deployed {
  background: #f5f5f5 url("../images/ico-deployed-projects.png") no-repeat center calc(50% - 20px);
}
.block-wrap .music {
  background: #fff url("../images/ico-music.png") no-repeat center calc(50% - 20px);
}
.block-wrap .cup {
  background: #f5f5f5 url("../images/ico-cup.png") no-repeat center calc(50% - 20px);
}
.block-wrap .hex {
  background: #f5f5f5;
}
.block-wrap .hex h2 {
  font-family: "Segoe UI";
  font-size: 30px;
  margin-top: 35%;
  display: inline-block;
  color: #58595b;
}
.block-wrap .hex span {
  bottom: 35%;
}

.block-wrap .deployed span, .block-wrap .music span, .block-wrap .cup span {
  text-decoration: none;
}
.block-wrap .deployed span cite, .block-wrap .music span cite, .block-wrap .cup span cite {
  font-weight: bold;
  display: block;
  font-size: 6vw;
  line-height: 12px;
}
.block-wrap .deployed span:hover, .block-wrap .music span:hover, .block-wrap .cup span:hover {
  text-decoration: underline;
}

.prev-next-wrap {
  text-align: center;
  height: calc(50vw - 30px);
  background: #fff;
}
.prev-next-wrap .owl-next, .prev-next-wrap .owl-prev {
  cursor: pointer;
}

.v-middle-wrap {
  vertical-align: middle;
  height: 100%;
  width: 100%;
  display: inline-block;
}
.v-middle-wrap .helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.v-middle-wrap .v-middle {
  display: inline-block;
  vertical-align: middle;
  margin-top: 5px;
}
.v-middle-wrap img.v-middle {
  max-width: 96%;
  margin-left: -2px;
}

.meet-our-team-panel {
  background: #fff;
}

.meet-our-team-content {
  margin-bottom: 30px;
  padding: 15px 15px 0;
}
.meet-our-team-content h4 {
  font-size: 18px;
  line-height: 26px;
}

.meet-our-team li {
  text-align: center;
  background: #fafafa;
  padding: 10% 0 9%;
}
.meet-our-team li figure {
  margin-bottom: 5px;
}
.meet-our-team li h5 {
  font-size: 16px;
  margin-bottom: 0;
}
.meet-our-team li p {
  color: #757677;
  font-size: 16px;
}

.hex-download-stuff {
  background: #fff;
  padding: 30px;
}
.hex-download-stuff h3 {
  font-size: 14px;
  color: #58595b;
  text-transform: uppercase;
}
.hex-download-stuff h2 {
  font-size: 20px;
  color: #58595b;
}
.hex-download-stuff p {
  font-size: 16px;
}
.hex-download-stuff a {
  color: #58595b;
  text-decoration: underline;
}
.hex-download-stuff a:hover {
  text-decoration: none;
}

.testimonial-panel {
  padding: 30px 0;
}
.testimonial-panel h2 {
  font-size: 20px;
  margin-bottom: 15px;
}
.testimonial-panel .owl-pagination {
  position: absolute;
  top: 0;
  left: 30px;
}
.testimonial-panel .owl-page span {
  background: #151515;
  margin: 0 5px 0 0 !important;
  width: 11px !important;
  height: 11px !important;
}
.testimonial-panel .owl-page.active span {
  background: #fee252;
}

.testimonial {
  margin: 60px 30px 30px;
  background: #fee252;
  padding: 30px 35px;
  position: relative;
}
.testimonial h3 {
  font-size: 18px;
  margin-bottom: 10px;
}
.testimonial span {
  color: #6f6b51;
  font-size: 16px;
  margin-bottom: 25px;
  display: block;
}
.testimonial p {
  color: #535134;
}
.testimonial figure {
  position: absolute;
  top: -50px;
  right: -15px;
  border: 7px solid #fff;
}
.testimonial figure img {
  width: 77px;
  display: block;
}

.inner-banner {
  background: url("/images/banner/banner-inner.jpg") no-repeat center;
  text-align: center;
  height: 100vw;
  max-height: 350px;
  padding-top: 145px;
}
.inner-banner h1 {
  font-size: 8vw;
  margin: 0;
  color: #312819;
}
.inner-banner p {
  color: #312819;
  font-size: 16px;
}

.portfolio-filter-panel {
  background: #fff;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
}

.portfolio-filter-panel.fixed {
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 2px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 2px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 1px 2px;
}

.portfolio-filter-panel.fixed + .mTop {
  margin-top: 50px;
}

.portfolio-filter {
  position: relative;
  text-align: center;
}
.portfolio-filter li {
  color: #999999;
  display: inline-block;
  font-size: 12px;
  padding: 15px 2px 15px;
  margin: 0 2px;
  cursor: pointer;
  font-weight: 500;
}
.portfolio-filter li.active {
  color: #312819;
}
.portfolio-filter .move {
  height: 3px;
  display: block;
  width: 5px;
  background: #312819;
  position: absolute;
  left: 0;
  bottom: 0px;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.portfolio-panel {
  background: #909090 url("../images/portfolio/bg-portfolio.jpg") no-repeat center 0;
  padding-top: 30px;
  padding-bottom: 80px;
}

.portfolio-block-list {
  margin-bottom: 30px;
}

.portfolio-link {
  position: relative;
}
.portfolio-link i {
  display: block;
  color: #fff;
  left: 0;
  right: 0;
  font-size: 30px;
  opacity: 0.5;
  position: absolute;
  top: 70%;
}
.portfolio-link i, .portfolio-link img {
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.portfolio-link:hover img {
  opacity: 0.4;
  margin-top: -16%;
  -moz-transform: scale(0.9, 0.9);
  -ms-transform: scale(0.9, 0.9);
  -webkit-transform: scale(0.9, 0.9);
  transform: scale(0.9, 0.9);
}
.portfolio-link:hover .icon-down-arrow-metro {
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  top: 47%;
  opacity: 1;
  font-size: 60px;
}

.portfolio-view-more {
  position: relative;
  background: #fafafa;
  text-align: center;
  cursor: pointer;
}
.portfolio-view-more i {
  position: absolute;
  top: 18vw;
  font-size: 14vw;
  left: 0;
  right: 0;
}
.portfolio-view-more span {
  display: none;
}

.portfolio-dec {
  background: #fff;
  padding: 30px;
}
.portfolio-dec .status {
  color: #666666;
  font-size: 13px;
  position: relative;
  display: inline-block;
  padding-left: 30px;
  margin-bottom: 15px;
}
.portfolio-dec .status:after {
  height: 3px;
  width: 25px;
  display: block;
  content: '';
  background: #fee252;
  position: absolute;
  left: 0px;
  top: 8px;
}
.portfolio-dec h2 {
  font-weight: 300;
  font-size: 30px;
  margin-bottom: 13px;
}
.portfolio-dec p {
  line-height: 28px;
}

.portfolio-img {
  display: none;
}

.icon-type-list {
  padding: 6px 5px 0px;
}
.icon-type-list div {
  width: 5px;
  height: 5px;
  display: block;
  margin-bottom: 3px;
  position: relative;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: #cccccc;
}
.icon-type-list div:after, .icon-type-list div:before {
  height: 2px;
  display: block;
  position: absolute;
  background: #cccccc;
  content: '';
  left: 6px;
}
.icon-type-list div:after {
  top: 0;
  width: 15px;
}
.icon-type-list div:before {
  top: 3px;
  width: 10px;
}
.icon-type-list.current {
  background: #f2f2f2;
}
.icon-type-list.current div, .icon-type-list.current div:after, .icon-type-list.current div:before {
  background: #999999;
}

.icon-type-grid {
  padding: 6px;
  text-align: center;
  margin-left: 10px;
}
.icon-type-grid div {
  display: inline-block;
  width: 5px;
  height: 5px;
  background: #cccccc;
  margin: 1px;
  float: left;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.icon-type-grid.current {
  background: #f2f2f2;
}
.icon-type-grid.current div {
  background: #999999;
}

.icon-type-list, .icon-type-grid {
  width: 33px;
  height: 33px;
  display: block;
  float: right;
  cursor: pointer;
  opacity: 0.8;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-top: 16px;
}
.icon-type-list:hover, .icon-type-grid:hover {
  opacity: 1;
}
.icon-type-list:hover div, .icon-type-list:hover div:after, .icon-type-list:hover div:before, .icon-type-grid:hover div, .icon-type-grid:hover div:after, .icon-type-grid:hover div:before {
  background: #999999;
}

.fixed {
  position: fixed;
}

.spinner {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 80px auto 0;
  display: none;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fee252;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  -moz-animation: double 2s infinite ease-in-out;
  -webkit-animation: double 2s infinite ease-in-out;
  animation: double 2s infinite ease-in-out;
}

.double-bounce2 {
  -moz-animation-delay: -1s;
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

@-moz-keyframes double {
  0%, 100% {
    -moz-transform: scale(0, 0);
    transform: scale(0, 0);
  }
  50% {
    -moz-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@-webkit-keyframes double {
  0%, 100% {
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
  }
  50% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@keyframes double {
  0%, 100% {
    -moz-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -webkit-transform: scale(0, 0);
    transform: scale(0, 0);
  }
  50% {
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@media (max-width: 319px) {
  /*.block-wrap .more-works, .block-wrap .work-with-us-link{
      background-size:20% auto;
  } */
  .block-wrap .block {
    height: calc(100vw - 25vw);
  }
  .block-wrap .block span {
    font-size: 5vw !important;
    bottom: 16% !important;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .portfolio-filter li {
    padding: 20px 10px;
    font-size: 13px;
  }
}
@media (min-width: 768px) {
  .pull-right {
    float: right !important;
  }

  .pull-left {
    float: left !important;
  }

  header {
    padding: 40px 0;
  }
  header .main-logo {
    font-size: 30px;
  }

  .inner-header {
    height: 385px;
  }
  .inner-header .header-content {
    padding: 80px 0;
  }
  .inner-header .header-content p {
    font-size: 16px;
  }
  .inner-header .header-content .title-text {
    font-size: 50px;
  }

  .banner h2 {
    font-size: 50px;
  }
  .banner p {
    font-size: 15px;
  }

  footer .menu-block {
    text-align: left;
  }
  footer .menu-block .footer-logo {
    display: inline-block;
    margin-top: 5px;
  }
  footer .menu-block .footer-nav li {
    margin-left: 25px;
  }
  footer .menu-block .social-links {
    float: right;
  }
  footer .copy-rights .powered-by {
    float: right;
  }

  .design-quote .content-quote {
    background: url(../images/LeoBurnett.png) no-repeat center right;
    -moz-background-size: auto;
    -o-background-size: auto;
    -webkit-background-size: auto;
    background-size: auto;
    padding: 90px 0;
  }
  .design-quote .content-quote .messages {
    width: 350px;
  }
  .design-quote .content-quote p {
    font-size: 24px;
  }
  .design-quote .content-quote .author {
    font-size: 16px;
  }

  .work-with-us-panel .workwithus-carousel-wrap .title, .meet-our-team-content .title {
    font-size: 18px;
    line-height: 20px;
    margin-bottom: 20px;
  }
  .work-with-us-panel .workwithus-carousel-wrap .title:after, .meet-our-team-content .title:after {
    height: 15px;
    margin-top: -7px;
  }

  .work-with-us-panel .owl-controls .owl-buttons .owl-prev, .prev-next-wrap .owl-prev {
    bottom: 0;
    left: 0;
  }
  .work-with-us-panel .owl-controls .owl-buttons .owl-next, .prev-next-wrap .owl-next {
    top: 0;
    right: 0;
  }
  .work-with-us-panel .owl-controls .owl-buttons .owl-prev, .prev-next-wrap .owl-prev, .work-with-us-panel .owl-controls .owl-buttons .owl-next, .prev-next-wrap .owl-next {
    background: #f0f0f0;
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    height: 50%;
    position: absolute;
  }
  .work-with-us-panel .owl-controls .owl-buttons .owl-prev i, .prev-next-wrap .owl-prev i, .work-with-us-panel .owl-controls .owl-buttons .owl-next i, .prev-next-wrap .owl-next i {
    font-size: 30px;
    top: 50%;
    margin-top: -14%;
  }
  .work-with-us-panel .owl-controls .owl-buttons:hover div, .prev-next-wrap:hover div {
    height: 100%;
  }

  .work-with-us-panel {
    position: relative;
  }
  .work-with-us-panel .layout-sm-6 {
    position: static;
  }
  .work-with-us-panel .zero-padd {
    height: 100%;
  }
  .work-with-us-panel .owl-controls {
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 25%;
    height: 50%;
    z-index: 100;
  }
  .work-with-us-panel .owl-controls .owl-buttons {
    height: 100%;
    background: #fff;
    margin: 0;
  }
  .work-with-us-panel .workwithus-carousel-wrap {
    padding: 10% 10% 0;
  }
  .work-with-us-panel .owl-work-withus {
    position: static;
  }
  .work-with-us-panel .owl-work-withus h4 {
    font-size: 28px;
    line-height: 35px;
  }
  .work-with-us-panel .owl-work-withus p {
    font-size: 16px;
  }
  .work-with-us-panel .zero-padd {
    padding: 0;
  }
  .work-with-us-panel p {
    display: block;
  }

  .major-works-panel {
    padding: 0;
  }
  .major-works-panel .owl-controls .owl-pagination {
    bottom: 30px;
  }

  .major-works-img {
    padding: 0;
    text-align: right;
    display: inline-block;
    height: 100%;
  }
  .major-works-img .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  .major-works-img img {
    vertical-align: middle;
    max-height: 98%;
    max-width: 98%;
  }

  .major-works-box {
    display: table;
    height: 100%;
    text-align: left;
  }
  .major-works-box .table-cell {
    display: table-cell;
    vertical-align: middle;
  }
  .major-works-box h2 {
    font-size: 24px;
  }
  .major-works-box p {
    display: block;
    color: #abe3ff;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 30px;
  }

  .block-wrap .block span {
    font-size: 14px;
  }
  .block-wrap .block span cite {
    font-size: 20px;
    line-height: 18px;
  }

  .prev-next-wrap {
    width: 50%;
    float: right;
    position: relative;
  }

  .meet-our-team-content {
    padding: 10% 10% 0;
  }
  .meet-our-team-content h4 {
    font-size: 28px;
    line-height: 35px;
  }

  .meet-our-team {
    position: relative;
    overflow: hidden;
  }
  .meet-our-team li {
    width: 50%;
    float: left;
    margin: 0;
    padding: 0;
    position: absolute;
  }
  .meet-our-team li p {
    font-size: 15px;
  }
  .meet-our-team li:nth-child(3n), .meet-our-team li:nth-child(4n-2) {
    background: #f5f5f5;
  }

  .hex-download-stuff {
    padding: 50px;
  }
  .hex-download-stuff h2 {
    font-size: 28px;
    line-height: 30px;
  }
  .hex-download-stuff p {
    margin-bottom: 30px;
  }

  .testimonial-panel h2 {
    font-size: 26px;
    margin-left: 15px;
  }
  .testimonial-panel .owl-pagination {
    left: 15px;
  }

  .testimonial {
    margin-left: 15px;
    margin-right: 15px;
    height: 360px;
  }
  .testimonial figure {
    left: auto;
    right: -15px;
    top: -40px;
    border-right: 0;
  }
  .testimonial figure img {
    width: 100px;
  }

  .inner-banner {
    text-align: left;
  }
  .inner-banner h1 {
    font-size: 50px;
  }

  .portfolio-filter-panel.fixed + .mTop {
    margin-top: 80px;
  }

  .portfolio-filter {
    text-align: left;
  }
  .portfolio-filter ul {
    margin: 0 -15px;
  }
  .portfolio-filter li {
    padding: 24px 6px;
    font-size: 15px;
    font-weight: 400;
    margin: 0 15px;
  }
  .portfolio-filter .move {
    height: 4px;
  }

  .portfolio-view-more {
    float: left;
  }
  .portfolio-view-more i {
    font-size: 40px;
    top: 40%;
  }
  .portfolio-view-more span {
    display: block;
  }

  .portfolio-img {
    display: block;
  }

  .portfolio-dec-panel .portfolio-dec, .portfolio-dec-panel .portfolio-img, .portfolio-dec-panel .portfolio-img img {
    height: 100%;
  }

  .portfolio-dec {
    padding: 40px 40px 0;
  }

  .portfolio-block-list {
    margin-bottom: 0;
  }
  .portfolio-block-list .block-wrap {
    float: none !important;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
  }

  .portfolio-block-list:nth-child(even) .portfolio-dec {
    float: right !important;
  }
  .portfolio-block-list:nth-child(even) .block-wrap {
    margin-left: 50%;
  }

  .portfolio-block-grid {
    width: 25%;
    float: none !important;
    display: inline-block !important;
  }
  .portfolio-block-grid .block-wrap {
    margin: 0 !important;
    -moz-transition: none;
    -o-transition: none;
    -webkit-transition: none;
    transition: none;
  }
  .portfolio-block-grid .block-wrap.layout-sm-6 {
    width: 100% !important;
  }
  .portfolio-block-grid .block {
    width: 100% !important;
  }

  /*start animation meet-our-team*/
  .meet-our-team li {
    -webkit-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
  }
  .meet-our-team li:nth-child(odd) {
    left: 0;
    top: 0;
  }
  .meet-our-team li:nth-child(even) {
    left: 50%;
    top: 0;
  }
  .meet-our-team li:nth-child(3n) {
    left: 0;
    top: 50%;
  }
  .meet-our-team li:nth-child(4n) {
    left: 50%;
    top: 50%;
  }

  .meet-our-team li.ng-enter:nth-child(odd), .meet-our-team li.ng-leave:nth-child(odd) {
    left: 25%;
    top: 25%;
  }
  .meet-our-team li.ng-enter:nth-child(even), .meet-our-team li.ng-leave:nth-child(even) {
    left: 25%;
    top: 25%;
  }
  .meet-our-team li.ng-enter:nth-child(3n), .meet-our-team li.ng-leave:nth-child(3n) {
    left: 25%;
    top: 25%;
  }
  .meet-our-team li.ng-enter:nth-child(4n), .meet-our-team li.ng-leave:nth-child(4n) {
    left: 25%;
    top: 25%;
  }

  .meet-our-team li.ng-enter {
    opacity: 0;
    -webkit-transition: 0s !important;
    transition: 0s !important;
  }

  .meet-our-team li.ng-enter-active {
    opacity: 0.2;
  }

  .meet-our-team li.ng-leave {
    -webkit-transition: all 1s ease 0s !important;
    transition: all 1s ease 0s !important;
    opacity: 0.2;
    z-index: 100;
  }

  .meet-our-team li.ng-leave-active {
    opacity: 0;
  }

  /*end animation meet-our-team*/
  .portfolio-block {
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
  }

  .portfolio-block-list.ng-enter {
    height: 0 !important;
    overflow: hidden;
  }
  .portfolio-block-list.ng-enter-active {
    height: height-sm-3 !important;
  }
  .portfolio-block-list.ng-leave {
    opacity: 1;
  }
  .portfolio-block-list.ng-leave-active {
    height: 0;
    overflow: hidden;
    opacity: 0;
  }

  .portfolio-block-grid.ng-enter {
    opacity: 0;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    -moz-transform: scale(0.8, 0.8);
    -ms-transform: scale(0.8, 0.8);
    -webkit-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8);
  }
  .portfolio-block-grid.ng-enter-active {
    opacity: 1;
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  .portfolio-block-grid.ng-leave {
    opacity: 1;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  .portfolio-block-grid.ng-leave-active {
    opacity: 0;
    -moz-transform: scale(0.8, 0.8);
    -ms-transform: scale(0.8, 0.8);
    -webkit-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8);
  }

  .portfolio-block-switch {
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    opacity: 1;
    overflow: hidden;
  }

  .portfolio-block-switch.ng-hide {
    opacity: 0;
    top: 0;
    left: 15px;
    right: 15px;
    position: absolute;
  }

  .strip-wrap .hex {
    height: 50% !important;
  }

  .stripe-1 {
    color: white;
    background: repeating-linear-gradient(45deg, #606dbc, #606dbc 10px, #465298 10px, #465298 20px);
    width: 50%;
    height: 50%;
    float: left;
    display: block;
  }

  .work-with-us-panel, .strip-wrap, .hex-download-stuff, .inner-banner, .portfolio-dec-panel, .meet-our-team {
    height: 360px;
  }

  .major-works-panel, .heightset-major-works, .portfolio-block-list {
    height: 540px;
  }

  .block-wrap .block, .block-wrap .prev-next-wrap, .meet-our-team li {
    height: 180px;
  }
}
@media (max-width: 767px) {
  .layout-container {
    padding-left: 30px;
    padding-right: 30px;
  }

  .meet-our-team li:nth-child(2n) {
    background: #f5f5f5;
  }

  .inner-header .header-content {
    text-align: center;
    padding: 50px 0;
  }

  .icon-type-list, .icon-type-grid {
    position: absolute;
    top: 24px;
    right: 0;
    background: #f2f2f2;
    background: #fff;
    -moz-box-shadow: inset 0px 0px 1px #b3b3b3;
    -webkit-box-shadow: inset 0px 0px 1px #b3b3b3;
    box-shadow: inset 0px 0px 1px #b3b3b3;
    opacity: 0.7;
  }

  .icon-type-list.current, .icon-type-grid.current {
    background: #fff;
    -moz-box-shadow: inset 0px 0px 1px #999999;
    -webkit-box-shadow: inset 0px 0px 1px #999999;
    box-shadow: inset 0px 0px 1px #999999;
    opacity: 1;
  }

  .icon-type-list {
    right: 40px;
  }

  footer .menu-block .footer-logo {
    margin-bottom: 10px;
  }
  footer .menu-block .footer-nav {
    margin-bottom: 15px;
  }
  footer .copy-rights {
    text-align: center;
  }
  footer .copy-rights .powered-by {
    margin-top: 10px;
  }

  .block-wrap .cup, .block-wrap .deployed {
    display: none;
  }

  .testimonial-panel .layout-container {
    padding: 0;
  }
  .testimonial-panel h2 {
    padding: 0 30px;
  }

  .portfolio-filter-panel {
    margin: 0 -25px;
  }

  .block-wrap .block.portfolio-link, .block-wrap .block.portfolio-view-more {
    height: calc(100vw - 50vw);
  }

  .portfolio-block-list .portfolio-link {
    width: 65%;
    float: left;
  }
  .portfolio-block-list .portfolio-view-more {
    width: 35%;
    float: left;
  }
}
@media (min-width: 992px) {
  .home-main-panel {
    padding: 40px 0;
  }

  .banner {
    padding-top: 20vh;
  }
  .banner h2 {
    font-size: 55px;
  }
  .banner p {
    font-size: 17px;
  }

  .work-with-us-panel {
    height: 485px;
  }
  .work-with-us-panel .workwithus-carousel-wrap {
    padding: 22% 15% 0;
  }
  .work-with-us-panel .owl-controls .owl-buttons div i {
    top: 46px;
  }

  .major-works-box {
    padding-right: 10%;
  }

  .meet-our-team-content {
    padding: 22% 15% 0;
  }

  .block-wrap .block {
    background-position: center calc(50% - 30px);
  }
  .block-wrap .block span {
    bottom: 18%;
  }
  .block-wrap .block span cite {
    font-size: 30px;
    line-height: 28px;
  }

  .hex-download-stuff {
    padding: 105px;
  }

  .testimonial-panel {
    padding: 80px 0;
  }

  .testimonial {
    margin-top: 80px;
    height: 300px;
  }

  .portfolio-block-list.ng-enter-active {
    height: 705px !important;
  }

  .portfolio-dec {
    padding: 120px 60px 0;
  }

  .work-with-us-panel, .strip-wrap, .hex-download-stuff, .inner-banner, .portfolio-dec-panel, .meet-our-team {
    height: 470px;
  }

  .major-works-panel, .heightset-major-works, .portfolio-block-list {
    height: 705px;
  }

  .block-wrap .block, .block-wrap .prev-next-wrap, .meet-our-team li {
    height: 235px;
  }
}
@media (min-width: 1200px) {
  .home-main-panel {
    padding: 50px 0;
  }

  .hex-download-stuff {
    padding: 115px;
  }

  .testimonial {
    height: 280px;
  }

  .portfolio-block-list.ng-enter-active {
    height: 760.5px !important;
  }

  .work-with-us-panel, .strip-wrap, .hex-download-stuff, .inner-banner, .portfolio-dec-panel, .meet-our-team {
    height: 507px;
  }

  .major-works-panel, .heightset-major-works, .portfolio-block-list {
    height: 760.5px;
  }

  .block-wrap .block, .block-wrap .prev-next-wrap, .meet-our-team li {
    height: 253.5px;
  }
}
@media (min-width: 1400px) {
  .testimonial-panel {
    padding: 90px 0;
  }

  .testimonial {
    margin-top: 90px;
  }

  .owl-testimonial .owl-pagination {
    top: 5px;
  }
}
