footer{
    background:#000;
    padding:40px 0;
    blockquote{
        text-align: center;
        p{
            font-size:24px;
            line-height:40px;
            font-weight:300;
            color:#fff;
            font-family:$font-family-base;
        }
        span{
            font-size:15px;
            font-weight:500;
            color:$grey-text-primary;
            background:url(../images/ico-spects.png) no-repeat center 0;
            padding:40px 0 0;
            margin:10px 0 30px;
            display:inline-block;
        }
    }
    .footer-bottom{
        border-top:1px solid #202020;
        padding:30px 0 0;
    }
    .copy-right{
        left: 0;
        margin: 5px auto 0;
        max-width: 244px;
        position: absolute;
        right: 0;
        text-align: center;
        color:#7a7a7a;
        font-size:12px;
        font-family:$font-family-base;
    }
    .footer-social{
        float:right;
        > a{
            color:#999999;
            font-size:15px;
            margin:6px 10px 0 0;
            text-transform:uppercase;
            display:inline-block;
        }
            .social-links{
                float:right;
                a{
                    @include transition(all 0.3s linear);
                    margin:0 0 0 4px;
                    span{
                        position:relative;
                        @include transition(all 0.3s linear);
                    }
                    &:hover{
                        background:$primary-color;
                        span{
                            color:#000;
                        }
                    }
                }
                .icon-fb{
                    top:1px;
                }
                .icon-twitter{
                    top:1px;
                    left:1px;
                }
            }
    }
    .footer-toobler-hex{
        float:left;
        img{
            float:left; 
        }
        span{
            color:$grey-text-secondary;
            font-size:11px;
            float:left;
            margin:4px 0 0 10px;
        }
    }
}