<!--start about-panel-->
<section class="about-panel layout-wrapper">
    <!--start about-->
    <div class="about">
        <div class="layout-container">
            <aside class="layout-sm-11 layout-md-7 about-content">
                <h2 class="bold"><span>AT A GLANCE</span>Have no fear of perfection, you will never know the reach.</h2>
                <div class="toobler-hex">
                    <a href="//www.toobler.com"><img src="images/toobler-white.png" alt=""></a> <cite></cite> <span>HEX</span>
                </div>
<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
                <p>Hex is a web agency  based in Montreal offering a wide range of creative services  and strategic  for brands, companies, foundations and organizations exciting. Our team of strategists, designers and web developers  is committed to building what you need to achieve your marketing goals. Our delivery process goes through four levels of expertise  to ensure a high quality service.</p>
            </aside>
            <div class="layout-sm-5 hide-mobile hide-sm">
                <aside class="img-about">
                    <img src="images/img-about.png" alt="">
                </aside>
            </div>
        </div> 
    </div>
    <!--end about-->
    <!--about page process start-->
        <div class="aboutpage-process layout-wrapper hide-mobile">
            <span class="bg-aboutpage-process"></span>
            <div class="about-process plan layout-sm-3">
                <figure>
                    <img src="images/img-weplan.png" alt="">
                </figure>
                <h3>WE PLAN<span></span></h3>
            </div>
            <div class="about-process create layout-sm-3">
                <figure>
                    <img src="images/img-wecreate.png" alt="">
                </figure>
                <h3>WE CREATE<span></span></h3>
            </div>
            <div class="about-process analyze layout-sm-3">
                <figure>
                    <img src="images/img-weanalyze.png" alt="">
                </figure>
                <h3>WE ANALYZE<span></span></h3>
            </div>
            <div class="about-process result layout-sm-3">
                <figure>
                    <img src="images/img-getresults.png" alt="">
                </figure>
                <h3>GET RESULTS<span></span></h3>
            </div>
        </div>
    <!--about page process end-->
</section>
<!--end about-panel-->