<!--start approach-panel-->
<section class="approach-panel layout-wrapper">
    <!--start approach-menu-panel-->
    <div class="approach-menu-panel" ng-class="{'fixed': wOffset > bnrHeight}">
        <div class="layout-container">
            <div class="approach-menu layout-wrapper">
                <span class="step-count" ng-bind="stepCount(scrollValue)"></span>
                <ul>
                    <li class="active" ng-class="{ 'active': step == 1 }">RESEARCH</li>
                    <li ng-class="{ 'active': step == 2 }">UX</li>
                    <li ng-class="{ 'active': step == 3 }">UI</li>
                    <li ng-class="{ 'active': step == 4 }">FRONT-END</li>
                    <li ng-class="{ 'active': step == 5 }">QA</li>
                    <li ng-class="{ 'active': step == 6 }">LAUNCH</li>
                </ul>
                <div class="move" moving-dir></div>
            </div>
        </div>
    </div>
    <!--end approach-menu-panel-->

    <!--start approach-research-panel-->
    <div class="approach-research-panel">
        <div class="layout-container">
            <div class="layout-wrapper">
                <aside class="layout-sm-6">
                    <div class="content-half-block approach-content-block">
                        <h3 class="title">Research &amp; Concept</h3>
                        <h4>Understand user behavior, needs and perspectives</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                    </div>
                </aside>
                <div class="layout-sm-3 hide-mobile block-wrap">
                    <div class="block stripe-1 layout-wrapper"></div>
                    <div class="block discussion layout-xs-12">
                        <div class="item-center">
                            <img src="images/block-icons/ico-discussion.png" alt="">
                            <div class="block-text">DISCUSSION</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layout-wrapper block-wrap">
                <div class="block layout-sm-3 hidden hide-mobile"></div>
                <div class="block discussion layout-xs-6 hidden-sm">
                    <div class="item-center">
                        <img src="images/block-icons/ico-discussion.png" alt="">
                        <div class="block-text">DISCUSSION</div>
                    </div>
                </div>
                <div class="block requirment layout-xs-6 layout-sm-3">
                    <div class="item-center">
                        <img src="images/block-icons/ico-requirment.png" alt="">
                        <div class="block-text">REQUIRMENT</div>
                    </div>
                </div>
                <div class="block study layout-xs-6 layout-sm-3">
                    <div class="item-center">
                        <img src="images/block-icons/ico-study.png" alt="">
                        <div class="block-text">STUDY</div>
                    </div>
                </div>
                <div class="block research layout-xs-6 layout-sm-3">
                    <div class="item-center">
                        <img src="images/block-icons/ico-research.png" alt="">
                        <div class="block-text">RESEARCH</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end approach-research-panel-->
    
    <!--start approach-image-panel-->
    <section class="approach-image-panel" approach-image-dir>
        <div class="image-back">
            <ul>
                <li class="one"></li>
                <li class="two"></li>
                <li class="three"></li>
                <li class="four"></li>
            </ul>
        </div>
        <div class="image-front">
            <h2>"We Believe The Key To Crafting A Strong, Memorable Brand, Is Simplicity"</h2>
            <ul class="">
                <li class="one current"></li>
                <li class="two"></li>
                <li class="three"></li>
            </ul>
        </div>
    </section>
    <!--end approach-image-panel-->
    
    
    <!--start approach-ux-panel-->
    <div class="approach-ux-panel">
        <div class="layout-container">
            <div class="layout-wrapper block-wrap">
                <aside class="layout-sm-6">
                    <div class="content-half-block approach-content-block">
                        <h3 class="title">User Experience</h3>
                        <h4>UX is at the the heart Of Everything We Do</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                    </div>
                </aside>
                <div class="layout-sm-6 block-wrap">
                    <div class="block stripe-1"></div>
                    <div class="block layout-sm-6 hidden hide-mobile"></div>
                    <div class="block layout-xs-6 prototyping">
                        <div class="item-center">
                            <img src="images/block-icons/ico-prototyping.png" alt="">
                            <div class="block-text">PROTOTYPING</div>
                        </div>
                    </div>
                    <div class="block layout-xs-6 architecture">
                        <div class="item-center">
                            <img src="images/block-icons/ico-architecture.png" alt="">
                            <div class="block-text">ARCHITECTURE</div>
                        </div>
                    </div>
                    <div class="block layout-xs-6 journy">
                        <div class="item-center">
                            <img src="images/block-icons/ico-journy.png" alt="">
                            <div class="block-text">USER JOURNY</div>
                        </div>
                    </div>
                    <div class="block layout-xs-6 testing">
                        <div class="item-center">
                            <img src="images/block-icons/ico-testing.png" alt="">
                            <div class="block-text">USER TESTING</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--end approach-ux-panel-->
    
    <!--start approach-image-panel-->
    <section class="approach-image-panel" approach-image-dir>
        <div class="image-back">
            <ul>
                <li class="one"></li>
                <li class="two"></li>
                <li class="three"></li>
                <li class="four"></li>
            </ul>
        </div>
        <div class="image-front">
            <h2>"We Believe The Key To Crafting A Strong, Memorable Brand, Is Simplicity"</h2>
            <ul class="">
                <li class="one current"></li>
                <li class="two"></li>
                <li class="three"></li>
            </ul>
        </div>
    </section>
    <!--end approach-image-panel-->
    
    
    <!--start approach-ui-panel-->
    <div class="approach-ui-panel">
        <div class="layout-container">
            <div class="layout-wrapper">
                <aside class="layout-sm-6 pull-right-sm">
                     <div class="content-half-block approach-content-block">
                        <h3 class="title">USER INTERFACE DESIGN</h3>
                        <h4>Design attracts users before they even think about. </h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                    </div>
                </aside>
                <div class="layout-sm-6 block-wrap">
                    <div class="block layout-sm-6 hidden hide-mobile"></div>
                    <div class="block stripe-1"></div> 
                    <div class="block layout-xs-6 interactivity">
                        <div class="item-center">
                            <img src="images/block-icons/ico-interactivity.png" alt="">
                            <div class="block-text">INTERACTIVITY</div>
                        </div>
                    </div>
                    <div class="block layout-xs-6 layout">
                        <div class="item-center">
                            <img src="images/block-icons/ico-layout.png" alt="">
                            <div class="block-text">LAYOUT DESIGN</div>
                        </div>
                    </div>
                    <div class="block layout-xs-6 illustration">
                        <div class="item-center">
                            <img src="images/block-icons/ico-illustration.png" alt="">
                            <div class="block-text">ILLUSTRATION</div>
                        </div>
                    </div>
                    <div class="block stripe-1"></div> 
                </div>
            </div>
        </div>
    </div>
    <!--end approach-ui-panel-->
    
    <!--start approach-image-panel-->
    <section class="approach-image-panel" approach-image-dir>
        <div class="image-back">
            <ul>
                <li class="one"></li>
                <li class="two"></li>
                <li class="three"></li>
                <li class="four"></li>
            </ul>
        </div>
        <div class="image-front">
            <h2>"We Believe The Key To Crafting A Strong, Memorable Brand, Is Simplicity"</h2>
            <ul class="">
                <li class="one current"></li>
                <li class="two"></li>
                <li class="three"></li>
            </ul>
        </div>
    </section>
    <!--end approach-image-panel-->
    
    
    <!--start approach-fron-end-panel-->
    <div class="approach-frontend-panel">
        <div class="layout-container">
            <div class="layout-wrapper">
                <div class="layout-sm-6">
                     <aside class="content-half-block approach-content-block">
                        <h3 class="title">FRONT-END DEVELOPMENT</h3>
                        <h4>Design attracts users before they even think about.</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                    </aside>
                </div>
                <div class="layout-sm-6 block-wrap hide-mobile">
                    <div class="block layout-sm-6"></div>
                    <div class="block layout-sm-6"></div>
                    <div class="block stripe-1"></div> 
                </div>
            </div>
            <div class="layout-wrapper block-wrap">
                <div class="block layout-xs-6 layout-sm-3 coding pull-right-sm">
                    <div class="item-center">
                        <img src="images/block-icons/ico-coding.png" alt="">
                        <div class="block-text">CODING</div>
                    </div>
                </div>
                <div class="block layout-xs-6 layout-sm-3 script pull-right-sm">
                    <div class="item-center">
                        <img src="images/block-icons/ico-script.png" alt="">
                        <div class="block-text">SCRIPT</div>
                    </div>
                </div>
                <div class="block layout-xs-6 layout-sm-3 interactive-animation pull-right-sm">
                    <div class="item-center">
                        <img src="images/block-icons/ico-interactive-animation.png" alt="">
                        <div class="block-text">ANIMATION</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="img-approach-frontend">
            <div class="layout-container"> 
                <img src="images/approach-frontend.png" alt="">
            </div>
        </div>
    </div>
    <!--end approach-fron-end-panel-->
    
    <!--start approach-qa-panel-->
    <div class="approach-qa-panel">
        <div class="layout-container">
            <div class="layout-wrapper">
                <div class="layout-sm-6">
                     <aside class="content-half-block approach-content-block">
                        <h3 class="title">QUALITY ASSURANCE</h3>
                        <h4>Lorem Ipsum is simply dummy text of the printing</h4>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                    </aside>
                </div>
                <div class="layout-sm-6 block-wrap">
                    <div class="block stripe-1"></div>
                    <div class="block hidden hide-mobile"></div> 
                    <div class="block layout-xs-6 quality">
                        <div class="item-center">
                            <img src="images/block-icons/ico-quality.png" alt="">
                            <div class="block-text">QUALITY CONTROL</div>
                        </div>
                    </div>
                    <div class="block layout-xs-6 qa-testing">
                        <div class="item-center">
                            <img src="images/block-icons/ico-qa-testing.png" alt="">
                            <div class="block-text">TESTING</div>
                        </div>
                    </div>
                    <div class="block layout-xs-6 qa-assurance">
                        <div class="item-center">
                            <img src="images/block-icons/ico-qa-assurance.png" alt="">
                            <div class="block-text">QUALITY ASSURANCE</div>
                        </div>
                    </div>
                    <div class="block stripe-1"></div>
                </div>
            </div>
        </div>
    </div>
    <!--end approach-qa-panel-->
    
    <div class="approach-launch-panel">
        <div class="layout-container">
            <img src="images/approach-launch.png" alt="">
            <aside class="approach-content">
                <h4>Like our approach?</h4>
                <p>Lorem Ipsum is simply dummy text of the. View our <a href="#">recent projects</a></p> 
            </aside>
            <div class="launch">
                LAUNCH
            </div>
        </div>
    </div>
</section>
<!--end approach-panel-->