<!-- start next-prev-project-panel-->
<section class="next-prev-project-panel">
    <div class="layout-container">
        <span class="pull-left"><i class="icon-normal-arrow-left"></i> PREV<span>IOUS PROJECT</span></span>
        <span class="pull-right">NEXT <span>PROJECT</span><i class="icon-normal-arrow-right"></i></span>
    </div>
</section>
<!-- end next-prev-project-panel-->
<!--start casestudy-panel-->
<section class="casestudy-panel">
    <div class="layout-container">
        <!--start casestudy-master-image-->
        <div class="case-master-image">
            <div class="case-master-logo">
                <div class="v-middle-wrap">
                <span class="helper"></span>
                <div class="v-middle">
                    <img src="images/portfolio/advisorfi/logoCasestudy.png" alt="">
                </div>
                </div>  
            </div>
            <figure>
                <img src="images/portfolio/advisorfi/imageCasestudyTop.jpg" alt="">
            </figure>
        </div>
        <!--end casestudy-master-image-->
        <div class="case-abt-project layout-wrapper">
            <aside class="case-project-dec layout-sm-7 ">
                <h2>AdvisoryFi</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the indusatry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </aside>
            <aside class="case-project-spec layout-sm-5">
                <h3>PROJECT SECTOR</h3>
                <p>Financial and Busines</p>
                
                <h3>OUR ROLE</h3>
                <p>UI/UX Design and Development</p>
                
                <h3>CLIENT</h3>
                <p>Will Lopez</p>
                
                <a href="www.advisorfi.com" target="_blank">www.advisorfi.com</a>
            </aside>
        </div>
    </div>
</section>
<!--end casestudy-panel-->