<!--start contact-panel-->
<section class="contact-panel layout-wrapper">
     <!--start contact-->
     <!--<div class="contact-header">
         <div class="layout-container">
             <a class="main-logo" href="#/home">HEX</a>
             <div class="close-enquiry">Close Enquiry<i class="icon-close"></i></div>
         </div>
     </div>-->
     <!--end contact-->
     <!--start contact-->
     <div class="contact">
         <div class="layout-container">
             <span class="contact-close" ng-click= "contact()"></span>
             <div class="layout-sm-6 pull-right-sm">
                 <form action="" class="contact-form">
                     <div class="form-control">
                         <label for="">Name<sup>*</sup></label>
                         <div class="field">
                             <input type="text" placeholder="Name" class="name">
                         </div>
                     </div>
                     <div class="form-control">
                         <label for="">Email<sup>*</sup></label>
                         <div class="field">
                             <input type="text" placeholder="Email" class="email">
                         </div>
                     </div>
                     <div class="form-control">
                         <label for="">Phone</label>
                         <div class="field">
                             <input type="text" placeholder="Phone" class="phone">
                         </div>
                     </div>
                     <div class="form-control checkbox-wrap">
                         <h6>Interested in:</h6>
                         <label>
                             <input type="checkbox" class="checkbox"><i class="chekcbox-icon"></i>Web App
                         </label>
                         <label>
                             <input type="checkbox" class="checkbox"><i class="chekcbox-icon"></i>Mobile App
                         </label>
                         <label>
                             <input type="checkbox" class="checkbox"><i class="chekcbox-icon"></i>Branding &amp; Graphics
                         </label>
                     </div>
                     <div class="form-control">
                         <label for="">Message</label>
                         <div class="field">
                             <textarea name="" id="" cols="30" rows="10" placeholder="Message"></textarea>
                         </div>
                     </div>
                     <button class="submit-query">Submit Enquiry</button>
                 </form>
             </div>
             <div class="layout-sm-6">
                 <aside class="contact-address">
                     <h3>SAY HELLO</h3>
                     <p>We are happy to answer any and all questions concerning our services. Please use the form below for all general inquiries. </p>
                     <address>
                         1st Floor, Lulu Cyber Tower-1 <br>Infopark, Kakkanad <br>Kochi - 682042, India 
                     </address>
                     <p><span><i class="icon-skype"></i>toobler.technologies</span> 
                     <a href=""><i class="icon-message"></i>info@toobler.com</a> 
                     <span><i class="icon-phone"></i>+91 484 4034359</span></p>
                     <div class="social-media">
                         <a class="icon-fb" href="#"></a>
                         <a class="icon-linkedin" href="#"></a>
                         <a class="icon-twitter" href="#"></a>
                     </div>
                 </aside>
             </div>
         </div>
     </div>
     <!--end contact-->
</section>
<!--end contact-panel-->