<div class="layout-container">
    <blockquote>
        <p>" Design is not just what it looks like and feels like. <br>
Design is how it works. " </p>
    <span>Steve Jobs</span>
    </blockquote>
    <div class="footer-bottom">
        <aside class="footer-toobler-hex"><img src="images/logo-footer.png"><span>We are a part of <br> Toobler technologies</span></aside>
        <span class="copy-right">&copy;  2016 HEX. All Rights Reserved</span>
        <aside class="footer-social">
            <aside class="social-links">
                <a href="#"><span class="icon-fb"></span></a>
                <a href="#"><span class="icon-linkedin"></span></a>
                <a href="#"><span class="icon-twitter"></span></a>
            </aside>
            <a href="#">contact</a>
        </aside>
    </div>
</div>
 