<div class="home-header" ng-if="pageState && desktopScreen">
    <div class="layout-container">
        <a href="#/home" class="main-logo" >HEX</a> 
        <ul class="pull-left">
            <li ng-class="menuClass('home')"><a href="#/home" data-hover="Work">Home</a></li>
            <li ng-class="menuClass('work')"><a href="#/work" data-hover="Work">Work</a></li>
            <li ng-class="menuClass('approach')"><a href="#/approach" data-hover="Approach">Approach</a></li>
        </ul>
        <ul class="pull-right">
            <li ng-class="menuClass('about')"><a href="#/about" data-hover="About">About</a></li>
            <li ng-class="menuClass('freebies')"><a href="#freebies" data-hover="Freebies">Freebies</a></li>
            <li ng-click="contact()" ng-class="menuClass('contact')"><a href="javascript:void(0)" data-hover="Contact">Contact</a></li>
        </ul>
    </div>
</div> 
<div class="main-header" ng-if="mobileScreen || !pageState || wOffset > 20" ng-class="{'color-change': wOffset > bannerArea, 'larger-width': wOffset > 20}">
    <div class="layout-container">
        <a href="#/home" class="main-logo" >HEX</a> 
        <button class="btn nav-btn" ng-click="header.mobileNavShowHide()"><i class="menu-line"></i></button>
        <ul>
            <li ng-class="menuClass('work')"><a href="#/work" data-hover="Work">Work</a></li>
            <li ng-class="menuClass('approach')"><a href="#/approach" data-hover="Approach">Approach</a></li>
            <li ng-class="menuClass('about')"><a href="#/about" data-hover="About">About</a></li>
            <li ng-class="menuClass('freebies')"><a href="#freebies" data-hover="Freebies">Freebies</a></li>
            <li ng-click="contact()" ng-class="menuClass('contact')"><a href="javascript:void(0)" data-hover="Contact">Contact</a></li>
        </ul>
    </div>
</div>