

<!--approach start-->
<section class="approach">
    <div class="layout-container">
        <h2>Great companies can come <br>from anywhere.</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</p>
    </div>
</section>
<!--approach end-->
<!--<li ng-repeat="item in home.items">{{item}} 1 </li>-->

<!--home page main panel start-->
<section class="home-main-panel">
    <!--layout-container start-->
    <div class="layout-container">
        <!--work-with-us-panel start-->
        <div class="work-with-us-panel layout-wrapper">
            <div class="layout-sm-6">
                <div class="workwithus-carousel-wrap">
                    <h3 class="title">Come work with us</h3>
                    <div ng-controller="workWithUsCtrl as withUs" class="owl-work-withus">
                         <div ng-repeat="us in withUs.workWithUs" ng-repeat-owl-carousel carousel-init="withUs.carouselInitializer">
                             <h4>{{us.title}}</h4>
                             <p>{{us.description}}</p>
                         </div>
                    </div>
                </div>
             </div>
            <div class="layout-sm-6">
                <aside class="strip-wrap">
                    <div class="stripe-1"></div>
                    <div class="stripe-1"></div>
                    <div class="stripe-1"></div>
                    <div class="stripe-1"></div>
                </aside>
            </div>
        </div>
        <!--work-with-us-panel end-->
        
        <!--major-works start-->
        <div class="major-works-panel layout-wrapper">
            <div class="owl-major-works" ng-controller="majorWorksCtrl as works">
                <div ng-repeat="work in works.portfolio" ng-repeat-owl-carousel carousel-init="works.carouselInitializer">
                    <div class="layout-sm-6 heightset-major-works">
                        <figure class="major-works-img">
                            <span class="helper"></span>
                            <img ng-src="{{work.image.imageHome}}" alt="">
                        </figure>
                    </div>
                    <div class="layout-sm-6 heightset-major-works">
                        <div class="major-works-box">
                            <div class="table-cell">
                                <h2>{{work.name}}</h2>
                                <p>{{work.description | limitTo:150}}</p>
                                <a href="#/portfolio" class="btn-major-works">View more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--major-works end-->
        
        <!--block-wrap start-->
        <div class="block-wrap layout-wrapper">
            <div class="layout-sm-6">
                <a class="block more-works layout-xs-6">
                    <span>see more works?</span>
                </a>
                <a class="block work-with-us-link layout-xs-6">
                    <span>work with us?</span>
                </a>
            </div>
        </div>
        <!--block-wrap end-->
     
    <!--homeCtrl start-->       
    <div ng-controller="homeTeamCtrl as homeTeam"> 
        <!--meet-our-team start-->
        <div class="meet-our-team-panel layout-wrapper">
            <div class="layout-sm-6">
                <div class="meet-our-team-content"> 
                    <h3 class="title">Meet our team</h3>
                    <h4>Lorem Ipsum is simply dummy text of the printing.</h4>
                    <p>Bound by a passion for pragmatic problem-solving, we want to find simple solutions to complicated problems.</p>
                </div>
            </div>
            <div class="layout-sm-6">
                <div class="meet-our-team">
                    <ul> 
                        <li ng-repeat="team in homeTeam.teamMembers.slice(homeTeam.start, homeTeam.end)" ng-class="['team-'+$index]" class="angular-animate">
                            <div class="v-middle-wrap">
                                <span class="helper"></span>
                                <div class="v-middle">
                                    <figure>
                                        <img ng-src="{{team.image}}" alt="">
                                    </figure>
                                    <h5>{{team.name}}</h5>
                                    <p>{{team.desigination}}</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--meet-our-team end-->

        <!--block-wrap start-->
        <div class="block-wrap layout-wrapper">
            <div class="pull-right layout-sm-6">
                <div class="prev-next-wrap layout-sm-6">
                    <div class="owl-prev" ng-click="homeTeam.prev(homeTeam.start, homeTeam.end)"><i class="icon-arrow-thin-left"></i></div>
                    <div class="owl-next" ng-click="homeTeam.next(homeTeam.start, homeTeam.end)"><i class="icon-arrow-thin-right"></i></div>
                </div>
                <a class="block about-team layout-sm-6">
                    <span>about the design team</span>
                </a>
            </div>
        </div>
        <!--block-wrap end-->
    </div>
    <!--homeCtrl end-->
    
    </div>
    <!--layout-container end-->
    
    <!--layout-container start-->
    <div class="layout-container">
        <!--block-wrap start-->
        <aside class="block-wrap">
            <a class="block deployed layout-sm-3">
                <span>
                    <cite class="bold">200</cite>
                    Deployed Projects
                </span>
            </a>
            <a class="block music layout-sm-3">
                <span>
                    <cite>500</cite>
                    Music in our playlist
                </span>
            </a>
            <a class="block cup layout-sm-3">
                <span>
                    <cite>1000</cite>
                    Cup of tea
                </span>
            </a>
        </aside>
        <!--block-wrap end-->
        
         <!--hex-block start-->
         <div class="hex-block layout-wrapper block-wrap">
             <div class="layout-sm-6 strip-wrap">
                <div class="stripe-1"></div>
                <div class="hex block layout-sm-6">
                    <h2>HEX</h2>
                    <span>Want you know more?</span>
                </div>
                <div class="stripe-1"></div>
                <div class="stripe-1"></div>
             </div>
             <div class="layout-sm-6 hex-download-stuff">
                 <h3 class="semi-bold">Free stuff download ?</h3>
                 <h2 class="semi-bold">Every designer loves free stuff.</h2>
                 <p> Here we bring together  monstrously delicious creative assets in the form of free stuff and resources for web, mobile, and everything in between! </p>
                 <a href="#" class="download">Download free stuff</a>
             </div>
         </div>
         <!--hex-block end--> 
        
    </div>
    <!--layout-container end-->
    
</section>
<!--home page main panel end-->

<!--testimonial-panel start-->
<section class="testimonial-panel" ng-controller="homeTestimonialCtrl as testi">
    <!--layout-container start-->
    <div class="layout-container">
        <h2 class="bold">WHAT OUR CLIENT SAYS</h2>
        <div class="owl-testimonial">
            <div ng-repeat="testimo in testi.testimonials" ng-repeat-owl-carousel carousel-init="testi.carouselInitializer">
                <div class="testimonial">
                    <h3 class="semi-bold">{{testimo.name}}</h3>
                    <span>{{testimo.project}}</span>
                    <p>{{testimo.testimonial}}</p>
                    <figure>
                        <img ng-src="{{testimo.image}}" alt="">
                    </figure>
                </div>
            </div>
        </div>
    </div>
    <!--layout-container end-->
</section>
<!--testimonial-panel end-->


                     