<div class="portfolio-block-switch angular-animate"  ng-show="mySwitch">
    <div class="portfolio-block portfolio-block-list angular-animate" ng-repeat="port in portfolio.portfolioData | filter:searchText  | limitTo:portfolioLimit">   
        <div class="layout-wrapper">
            <div class="block-wrap layout-sm-6">
                <div class="block portfolio-link layout-sm-6" style="background:{{port.color}};">
                    <figure class="v-middle-wrap">
                        <div class="helper"></div>
                        <img ng-src="{{port.image.imageLogo}}" alt="" class="v-middle">
                    </figure>
                    <i class="icon-down-arrow-metro"></i>
                </div>
                <a class="block portfolio-view-more layout-sm-6">
                    <i class="icon-arrow-right-metro"></i>
                    <span>view more details</span>
                </a>
            </div>
        </div>
        <div class="layout-wrapper portfolio-dec-panel"> 
            <div class="layout-sm-6 portfolio-dec">
                <div class="status">{{port.status}}</div>
                <h2>{{port.name}}</h2>
                <p>{{port.description}}</p>
            </div>
            <figure class="layout-sm-6 portfolio-img">
                <img ng-src="{{port.image.imagePortfolio}}" alt="">
            </figure>
        </div>
    </div>
    <div class="spinner">
      <div class="double-bounce1"></div>
      <div class="double-bounce2"></div>
    </div>
</div>

<div class="portfolio-block-switch angular-animate"  ng-show="!mySwitch">
    <div class="portfolio-block portfolio-block-grid layout-sm-3 angular-animate" ng-repeat="port in portfolio.portfolioData | filter:searchText">
        <div class="block-wrap"> 
            <div class="block portfolio-link" style="background:{{port.color}};">
                <figure class="v-middle-wrap">
                    <div class="helper"></div>
                    <img ng-src="{{port.image.imageLogo}}" alt="" class="v-middle">
                </figure>
                <i class="icon-down-arrow-metro"></i>
            </div>
        </div>
    </div>
</div>

