@media (min-width: $screen-lg-min) { 
     //height variable
    //===================
    $height-lg-1 : ($layout-lg - $grid-gutter)/4*1;
    $height-lg-2 : ($layout-lg - $grid-gutter)/4*2;
    $height-lg-3 : ($layout-lg - $grid-gutter)/4*3;
    $height-lg-4 : ($layout-lg - $grid-gutter)/4*4;
    
    
    // main-header common
    //===================
    .main-header{
        .main-logo{
            left:50%;
            margin-left:-$height-lg-4/2;
        }
        .nav-btn{
            left:50%;
            margin-left:($height-lg-4/2)- 26
        }
    }
    //home-main-panel
    //==================
    .home-main-panel{
        padding:50px 0;
    }
    //hex-download-stuff
    //==================
    .hex-download-stuff{
        padding:115px;
    }
    .testimonial{
        height:280px;
    }
    //=================
    //end home
    
    //work
    //===============
    .work-block-list.ng-enter-active{
        height:$height-lg-3 !important; // (1014/4)*3
    }
    
     //casestudy master image panel
    //============================
    .case-master-image{
        figure{
            height:$height-lg-2;
        }
        .case-master-logo{
            width:$height-lg-1;
            height:$height-lg-1;
        }
    }
    .case-abt-project{
        display:block;
        height:$height-lg-2;
    }
    .case-project-dec, .case-project-spec{
        padding:90px;
    }
    .complete-site{
        img{
            bottom:5%;
        }
        .screen-desktop{
            right:-22%;
        }
    }
    .screen-active-desktop{
        .screen-mobile{
            left:25%;
        }
         .screen-tab{
            left:25%;
        }
         .screen-desktop{
            left:auto;
            right:-50px;
            opacity:1;
        }
    }
    .mail-us-panel{
        padding-top:170px;
    }
    .image-front, .image-front ul{
        width:$layout-lg;
    }
    
    .img-approach-frontend{
        .layout-container{
            padding:0 3px;
        }
    }
    //contact
    //=======
    .contact-header{
        height:90px;
        .main-logo{
            margin-top:23px;
            font-size:30px;
        }
        .close-enquiry{
            margin-top:36px;
        }
    }
    
    //height set
    //==========
    .block-wrap .block, 
    .block-wrap .prev-next-wrap, 
    .meet-our-team li, 
    .ui-used-fonts, .ui-used-icons{
        height:$height-lg-1; // (1014/4)*1
    }
    .stripe-1{
        width:$height-lg-1;
        height:$height-lg-1; 
    }
    //height set
    .work-with-us-panel, 
    .stripe-wrap, 
    .hex-download-stuff, 
    .inner-banner, 
    .work-dec-panel, 
    .meet-our-team,
    .content-half-block,
    .mail-us-panel,
    .approach-image-panel{
        height:$height-lg-2; // (1014/4)*2
    }
    .work-block-list{
        height:$height-lg-3; // (1014/4)*3
    }

//end
}

@media (min-width: 1400px) {
    //testimonials
    //==================
    .testimonial-panel{
        padding:90px 0;
    }
    .testimonial{
        margin-top:90px;
    }
    .owl-testimonial{
        .owl-pagination{
            top:5px;
        }
    }
//end
}
@media (min-width: 1700px) { 
//end
}