@media (min-width: $screen-md-min) {
    //banner
    .banner{
        padding-top:20vh;
        h2{
            font-size:55px;
        }
        p{
            font-size:17px;
        }
    }
    //work-with-us
    .work-with-us{
        height:485px;
        .workwithus-carousel-wrap{
            padding:22% 15% 0; 
        }
        .owl-controls .owl-buttons div i{
            font-size:30px;
            top:46px; 
            left: 0;
        }
    }
    
    //major-works
    .major-works-box{
        padding-right:10%;
    }
    
    //===============
    //height set
    .work-with-us{
        height:485px; //970/2
    }
    .major-works, .heightset-major-works{
        height:727px; //970/4*3
    }
//end
}

                    