@media (min-width: $screen-sm-min) {
    //height variable
    //===============
    $height-sm-1 : ($layout-sm - $grid-gutter)/4*1;
    $height-sm-2 : ($layout-sm - $grid-gutter)/4*2;
    $height-sm-3 : ($layout-sm - $grid-gutter)/4*3;
    $height-sm-4 : ($layout-sm - $grid-gutter)/4*4;
    
    
    // header
    //=========
    header {
        padding: 40px 0;
        .main-logo {
            font-size: 30px;
        }
    }
    .inner-header {
        height: 385px;
        .header-content {
            padding: 80px 0;
            p {
                font-size: 16px;
            }
            .title-text {
                font-size: 50px;
            }
        }
    }
    
    // banner 
    //==========
    .banner{
        h2{
            font-size:50px;
        }
        p{
            font-size:15px;
        }
    }
    
    // footer
    //============
    footer {
        .menu-block {
            text-align: left;
            .footer-logo {
                display: inline-block;
                margin-top: 5px;
            }
            .footer-nav{
                li{
                    margin-left: 25px;
                }
            }
            .social-links{
                float: right;
            }
        }
        .copy-rights{
            .powered-by{
                float: right;
            }
        }
    }
    .design-quote{
        .content-quote{
            background: url(../images/LeoBurnett.png) no-repeat center right ;
            @include background-size(auto);
            padding: 90px 0;
            .messages{
                width: 350px;
            }
            p{
                font-size: 24px;
            }
            .author{
                font-size: 16px;
            }
        }
    }
    
    // common start
    //=============
     %titleSm{
        font-size:18px;
        line-height:20px;
        margin-bottom:20px;
        &:after{
            height:15px;
            margin-top:-7px;
        }
    }
    %next-prev-arrow{
        .owl-prev{
            bottom:0;
            left:0;
        }
        .owl-next{
            top:0;
            right:0;
        }
        .owl-prev, .owl-next{
            background:#f0f0f0;
            @include opacity(1);
            @include transition(all 0.5s ease);
            height:50%;
            position: absolute;
            i{
                font-size:30px;
                top:50%;
                margin-top:-14%;
            }
        }
        &:hover{
            div{
                height:100%;
            }
        }
    }
    // common sm end
    //====================
    
    // work with us panel
    //====================
    .work-with-us-panel{
        position:relative;
        .layout-sm-6{
            position: static;
        }
        .zero-padd{
            height:100%; 
        }
        .owl-controls{
            position: absolute;
            left:50%;
            bottom:0;
            width:25%;
            height:50%;
            z-index: 100;
            .owl-buttons{
                height:100%;
                background:#fff;
                margin:0;
                @extend %next-prev-arrow;
            }
        }
        .workwithus-carousel-wrap{
            padding:10% 10% 0;
            .title{
                 @extend %titleSm;
            }
        }
        .owl-work-withus{
            position:static;
            h4{
                font-size:28px;
                line-height:35px;
            }
            p{
                font-size:16px;
            }
        }
        .zero-padd{
            padding:0;
        }
        p{
            display:block;
        }
    }
    
    //major-works-panel
    //==================
    .major-works-panel{
        padding:0;
        .owl-controls .owl-pagination{
            bottom:30px;
        }
    }
    .major-works-img{
        padding:0;
        text-align:right;
        display: inline-block;
        height: 100%;
        .helper {
            display: inline-block;
            height: 100%;
            vertical-align: middle;
        }
        img{
            vertical-align: middle;
            max-height:98%;
            max-width:98%;
        }
    }
    .major-works-box{
        display:table;
        height:100%;
        text-align: left;
        .table-cell{
            display:table-cell;
            vertical-align: middle;
        }
        h2{
            font-size:24px;
        }
        p{
            display: block;
            color:#abe3ff;
            font-weight:300;
            line-height:24px;
            margin-bottom:30px;
        }
    }
    
    //block-wrap
    //=====================
    .block-wrap{
        .block{
            span{
                font-size:14px;
                cite{
                    font-size:20px;
                    line-height:18px;
                }
            }
        }
    }
    //block-wrap
    //=====================
    .prev-next-wrap{
        width:50%;
        float:right;
        position: relative;
        @extend %next-prev-arrow;
    }
    
    //meet-our-team
    //======================
    .meet-our-team-content{
        padding:10% 10% 0;
        .title{
            @extend %titleSm;
        }
        h4{
            font-size: 28px;
            line-height: 35px;
        }
    }
    .meet-our-team{
        position: relative;
        overflow:hidden;
        li{
            width:50%;
            float:left;
            margin:0;
            padding:0;
            position: absolute;
            p{
                font-size:15px;
            }
        }
        li:nth-child(3n), li:nth-child(4n-2) {
            background:$white-grey2;
        }
    }
    //hex-download-stuff
    //==================
    .hex-download-stuff{
        padding:50px;
        h2{
            font-size:28px;
            line-height:30px;
        }
        p{
            margin-bottom:30px;
        }
    }
    //testimonials
    //==================
    .testimonial-panel{
        h2{
            font-size:26px;
            margin-left:15px;
        }
        .owl-pagination{
            left:15px;
        }
    }
    .testimonial{
        margin-left:15px;
        margin-right:15px;
        height:360px;
        figure{
            left:auto;
            right:-15px; 
            top:-40px;
            border-right:0;
            img{
                width:100px;
            }
        }
    }
    //strip
    //========================
    .strip-wrap{
        .hex{
            height:50% !important;
        }
    }
    .stripe-1 {
      color: white;
      background: repeating-linear-gradient(
        45deg,
        #606dbc,
        #606dbc 10px,
        #465298 10px,
        #465298 20px
      );
      width:50%;
      height:50%;
      float:left;
      display: block;
    }
//====================================
//=============end home===============

    // inner common banner
    //=====================
    .inner-banner{
        text-align:left;
        h1{
            font-size:50px;
        }
    }
    .bnr-casestudy{
        padding-top:150px;
        h1{
            line-height:1.2;
            margin:0;
            span{
                display:inline;
            }
        }
        a{ 
            text-decoration:none;
            font-size:16px;
            i{
                display:inline-block;
                position:relative;
                top:6px;
                font-size:26px;
                margin-right:10px;
            }
            &:hover{
                text-decoration:underline;
            }
        }
    }
    
    //portfolio-filter
    //=====================
    .portfolio-filter-panel.fixed + .mTop{
        margin-top:80px;
    }
    .portfolio-filter{
        ul{
            margin:0 -15px;
        }
        text-align: left;
        li{
            padding:24px 6px;
            font-size:15px;
            font-weight:400;
            margin:0 15px;
        }
        .move{
            height:4px;
        }
    }
    
    //portfolio block 
    //=================
    .portfolio-link{

    }
    .portfolio-view-more{
        float:left;
        i{
            font-size:40px;
            top:40%;
        }
        span{
            display: block;
        }
    }
    .portfolio-img{
        display:block;
    }
    .portfolio-dec-panel{
        .portfolio-dec, .portfolio-img, .portfolio-img img{
            height:100%;
        }
    }
    .portfolio-dec{
        padding:40px 40px 0;
    }
    
    //===================
    //portfolio-block-list
    .portfolio-block-list{
        margin-bottom:0;
        .block-wrap{
            float:none !important;
            @include transition(all 1s ease);
        }
    }
    .portfolio-block-list:nth-child(even){
        .portfolio-dec{
            float:right !important;
        }
        .block-wrap{
            margin-left:50%;
        }
    }
    
    // portfolio-grid block
    //======================
    .portfolio-block-grid{
        width:25%;
        float:none !important;
        display:inline-block !important;
        .block-wrap{
            margin:0 !important;
            @include transition(none);
        }
        .block-wrap.layout-sm-6{
            width:100% !important;
        }
        .block{
            width:100% !important;
        }
    }
    
    //==================================
    // animation
    /*start animation meet-our-team*/
    .meet-our-team li{
        -webkit-transition: all 1s ease 0s;
        transition:all 1s ease 0s;
        &:nth-child(odd){
                left:0;
                top:0;
        }
        &:nth-child(even){
                left:50%;
                top:0;
        }
        &:nth-child(3n){
                left:0;
                top:50%;
        }
        &:nth-child(4n){
                left:50%;
                top:50%;
        }
    }
    .meet-our-team li.ng-enter, .meet-our-team li.ng-leave{
        &:nth-child(odd){
                left:25%;
                top:25%;
        }
        &:nth-child(even){
                left:25%;
                top:25%;
        }
        &:nth-child(3n){
                left:25%;
                top:25%;
        }
        &:nth-child(4n){
                left:25%;
                top:25%;
        }
    }
    .meet-our-team li.ng-enter {
      opacity:0;
      -webkit-transition: 0s !important;
      transition: 0s !important;
    }
    .meet-our-team li.ng-enter-active {
        opacity:0.2;
    }
    .meet-our-team li.ng-leave {
        -webkit-transition: all 1s ease 0s !important;
        transition:all 1s ease 0s !important;
        opacity:0.2;
        z-index:100;
    }
    .meet-our-team li.ng-leave-active {
        opacity:0;
    }
    .meet-our-team li.ng-move {
    }
    .meet-our-team li.ng-move-active {
    }
    /*end animation meet-our-team*/ 
    //===========================
    
    //portfolio block animation
    //==========================
    .portfolio-block{
        @include transition(all 1s ease);
    }
    .portfolio-block-list {
        &.ng-enter{
            height:0 !important;
            overflow: hidden;
        }
        &.ng-enter-active{
           height:height-sm-3 !important; // (720/4)*3
        }
        &.ng-leave{
            opacity:1;
        }
        &.ng-leave-active{
            height:0;
            overflow: hidden;
            opacity:0;
        }
        &.ng-move{
        }
        &.ng-move-active{}
    }
    .portfolio-block-grid {
        &.ng-enter{
           opacity:0;
           @include transition(all 1s ease);
            @include scale(0.8);
        }
        &.ng-enter-active{
            opacity:1;
            @include scale(1);
        }
        &.ng-leave{
            opacity:1;
            @include transition(all 1s ease); 
            @include scale(1);
        }
        &.ng-leave-active{
            opacity:0;
            @include scale(0.8);
        }
        &.ng-move{
        }
        &.ng-move-active{}
    }
    .portfolio-block-switch{
        @include transition(all 1s ease);
        opacity: 1;
        overflow:hidden;
        
    }
    .portfolio-block-switch.ng-hide {
        opacity: 0;
        top:0;
        left:15px;
        right:15px;
        position:absolute;
    }
    //=====================
    //end portfolio block animation
 
    
    //=============================
    // ====== end portfolio =======
    
    // start casestudy
    //next-prev-project
    //===============
    .next-prev-project-panel{
        height:63px;
        span{
            padding:14px 0;
            span{
                display:inline-block;
                padding:0;
            }
            i{
                font-size:25px;
                top:6px;
            }
            
            &.pull-left i{
                margin-right:12px;
            }
            &.pull-right i{
                margin-left:12px;
            }
            &:hover, &:hover span{
                color:$header-text;
                i{
                    color:$primary-color;
                }
            }
        }
    }
    
    //casestudy master image panel
    //============================
    .case-master-image{
        position:relative;
        figure{
            height:$height-sm-2;
        }
        img{
            height:100%;
        }
        .case-master-logo{
            position:absolute;
            width:$height-sm-1;
            height:$height-sm-1;
            top:0;
            left:0;
        }
    }
    .case-project-dec, .case-project-spec{
        padding:30px;
    }
    .case-abt-project{
        display:block;
        height:$height-sm-2;
    }
    .case-project-dec h2{
        font-weight:400;
    }
    .case-project-spec{
        display:block;
        h3{
            color:$territory-color;
            font-size:16px;
            margin:8px 0 2px;
        }
        p{
            font-size:15px;
            margin-bottom:28px;
        }
    }
    
    
    
    
    
    
    
    

    //height set
    //===============
    .work-with-us-panel, .strip-wrap, .hex-download-stuff, .inner-banner, .portfolio-dec-panel, .meet-our-team{
        height:$height-sm-2; // (720/4)*2  
    }
    .major-works-panel, .heightset-major-works, .portfolio-block-list{
        height:$height-sm-3; // (720/4)*3
    }
    .block-wrap .block, .block-wrap .prev-next-wrap, .meet-our-team li{
        height:$height-sm-1; // (720/4)*1
    }
//end sm
//=======
}

@media (max-width: 767px) {
    .layout-container{
        padding-left:30px;
        padding-right:30px;
    }
    .meet-our-team li:nth-child(2n){
        background:$white-grey2;
    }
    
    .inner-header {
        .header-content {
            text-align: center;
            padding: 50px 0;
        }
    }
    .icon-type-list, .icon-type-grid{
        position:absolute;
        top:24px;
        right:0;
        background:lighten($grey-light, 35%);
        background:#fff;
        @include box-shadow(inset 0px 0px 1px lighten($grey-light, 10%) );
        opacity:0.7;
    }
    .icon-type-list.current, .icon-type-grid.current{
        background:#fff;
        @include box-shadow(inset 0px 0px 1px lighten($grey-light, 0%) );
        opacity:1;
    }
    .icon-type-list{
        right:40px;
    }
    footer {
        .menu-block {
            .footer-logo {
                margin-bottom: 10px;
            }
            .footer-nav{
                margin-bottom: 15px;
            }
        }
        .copy-rights{
            text-align: center;
            .powered-by{
                margin-top: 10px;
            }
        }
    }
    
    .block-wrap{
        .cup, .deployed{
            display:none;
        }
    }
    
    .testimonial-panel{
        .layout-container{
            padding:0;
        }
        h2{
            padding:0 30px;
        }
    }
    //==================
    //===== home end ====
    
    .portfolio-filter-panel{
        margin:0 -25px;
    }
    
    .block-wrap {
        .block.portfolio-link, .block.portfolio-view-more{
            height:calc(100vw - 50vw);
        }
    }
    .portfolio-block-list{
        .portfolio-link{
            width:65%;
            float:left;
        }
        .portfolio-view-more{
            width:35%;
            float:left;
        }
    }
    div.f-none-mobile{
        float:none !important;
    }
//end
//============
}

 

@media (min-width: 768px) and (max-width: 900px) {
//end
}