@media (min-width: $screen-md-min) {
    //height variable
    //=================
    $height-md-1 : ($layout-md - $grid-gutter)/4*1;
    $height-md-2 : ($layout-md - $grid-gutter)/4*2;
    $height-md-3 : ($layout-md - $grid-gutter)/4*3;
    $height-md-4 : ($layout-md - $grid-gutter)/4*4;
    
    
    //home-main-panel
    //==================
    .home-main-panel{
        padding:40px 0;
    }
    //banner
    //===============
    .banner{
        padding-top:20vh;
        h2{
            font-size:55px;
        }
        p{
            font-size:17px;
        }
    }
    
    //work-with-us
    //===============
    .work-with-us-panel{
        height:485px;
        .workwithus-carousel-wrap{
            padding:22% 15% 0; 
        }
        .owl-controls .owl-buttons div i{
            top:46px; 
        }
    }
    
    //major-works
    .major-works-box{
        padding-right:10%;
    }
    //meet-our-team
    //======================
    .meet-our-team-content{
        padding:22% 15% 0; 
    }
    
     //block-wrap
    //=========================
    .block-wrap{
        .block{
            background-position:center calc(50% - 30px);
            span{
                bottom:18%;
                cite{
                    font-size:30px;
                    line-height:28px;
                }
            }
        }
    }
    //hex-download-stuff
    //==================
    .hex-download-stuff{
        padding:105px;
    }
    //testimonials
    //==================
    .testimonial-panel{
        padding:80px 0;
    }
    .testimonial{
        margin-top:80px;
        height:300px;
    }
//====================================
//=============end home===============

    
    .portfolio-block-list.ng-enter-active{
        height:$height-md-3 !important; // (940/4)*3
    }
     .portfolio-dec{
        padding:120px 60px 0;
    }
    
    //===============
    //height set
    .work-with-us-panel, .strip-wrap, .hex-download-stuff, .inner-banner, .portfolio-dec-panel, .meet-our-team{
        height:$height-md-2; // (940/4)*2
    }
    .major-works-panel, .heightset-major-works, .portfolio-block-list{
        height:$height-md-3; // (940/4)*3
    }
    .block-wrap .block, .block-wrap .prev-next-wrap, .meet-our-team li{
        height:$height-md-1; // (940/4)*1
    }
//end
}

                    