@media (min-width: $screen-sm-min) {
    //height variable
    //===============
    $height-sm-1 : ($layout-sm - $grid-gutter)/4*1;
    $height-sm-2 : ($layout-sm - $grid-gutter)/4*2;
    $height-sm-3 : ($layout-sm - $grid-gutter)/4*3;
    $height-sm-4 : ($layout-sm - $grid-gutter)/4*4;
    
    // main-header common
    //===================
    .main-header{
        ul{
            width:$height-sm-4;
        }
        .main-logo, .nav-btn, ul{
            position:fixed;
            z-index:1002;
        }
        ul{
            z-index:1001;
        }
        .main-logo{
            left:50%;
            margin-left:-$height-sm-4/2;
        }
        .nav-btn{
            left:50%;
            margin-left:($height-sm-4/2)- 26
        }
    }
    
    
    // main-header
    //============
    .main-header {
        padding: 0;
        position:absolute !important;
        height:87px;
        z-index:100;
        .main-logo {
            font-size: 30px;
            float:left;
            margin-top:0;
            position:fixed;
            top:20px;
        }
        .nav-btn{
            top:24px;
            position: fixed;
        }
        ul{
            left:0;
            right:0;
            margin:0 auto;
            top:28px;
            opacity:0;
            text-align:right;
            @include transition(all 0.5s ease); 
            display:block !important;
            li{
                float:none;
                margin:0 15px;
                display:inline-block;
            }
            li:last-child{
                margin-right:50px;
            }
            li a{
                font-weight:500;
                font-size:16px;
                display:block;
                padding:5px 0;
                cursor:pointer;
                position: relative;
                color:$grey-text-primary;
                @include transition(all 0.5s ease);
                &:before{
                    padding:5px 0;
                    position:absolute;
                    top:0;
                    left:0;
                    content:attr(data-hover);
                    max-width:0;
                    @include transition(all 0.5s ease);
                    color:#000;
                    display: block;
                    overflow:hidden;
                    border-bottom:1px solid #000;
                }
                &:hover{
                    color:$primary-color;
                    &:before{
                        max-width:100%;
                    }
                }
            }
            li.active a{
                &:before{
                    max-width:100%;
                }
            }
        }
        &:hover{
            ul{
                opacity:1;
            }
        }
        .layout-container{
            @include transition(all 0.5s ease);
        }
        &.larger-width{
            z-index:auto;
            .layout-container{
                width:100%;
            }
            .nav-btn{
                @include transition(all 0.3s linear);
                left:97%;
                margin-left:-26px;
                top:10px;
            }

            .main-logo {
                left:3%;
                margin-left:0;
                top:7px;
            }
            ul{
                width:100%;
                padding:15px 3% 15px 0;
                height:63px;
                top:-63px;
                background:$primary-color;
            }
            &:hover{
                ul{
                    top:0;
                }
                .main-logo {
                    color:#000;
                }
                .menu-line, .menu-line:after, .menu-line:before{
                    background:#000;
                }
            }
        }
        &.color-change{
            .menu-line, .menu-line:after, .menu-line:before{
                background:$primary-color;
            }  
                .main-logo {
                    color:$primary-color;
                }
        }
    }
    // banner 
    //==========
    .banner{
        h2{
            font-size:50px;
        }
        p{
            font-size:15px;
        }
    }
    
    //image-flip-panel
    //================
    $img-block1 : 100vw/5;
    $img-block2 : 100vw/2.5;
    /*$img-block-width1 : 100%/5;
    $img-block-width2 : 100%/2.5;*/
    .layer{
        position:absolute;
        left:0;
        right:0;
        height:100%;
        background:rgba(0,0,0,0.5);
        z-index:100;
    }
    .card{
        width:100%;
        height:100%;
        .front, .back{
            width:100%;
            height:100%;
            position: absolute;
        }
    }
    .image-flip-panel{
        height:$img-block2 - 1;
        overflow: hidden;
        position:relative;
        .flip-container{
            width:100vw;
        }
        img{
            width:100%;
        }
        .img-flip{
            display:block;
            float:left;
            width:$img-block1;
            height:$img-block1;
            overflow:hidden;
        }
        .img-flip-1-1{
            width:$img-block1;
            height:$img-block1;
        }
        .img-flip-1-2{
            width:$img-block1;
            height:$img-block2
        }
        .img-flip-2-2{
            width:$img-block2;
            height:$img-block2;
        }
        .img-flip-2-1{
            width:$img-block2;
            height:$img-block1;
        }
    }
    // footer
    //============
    footer {
        .menu-block {
            text-align: left;
            .footer-logo {
                display: inline-block;
                margin-top: 5px;
            }
            .footer-nav{
                li{
                    margin-left: 25px;
                }
            }
            .social-links{
                float: right;
            }
        }
        .copy-rights{
            .powered-by{
                float: right;
            }
        }
    }
    .design-quote{
        .content-quote{
            background: url(../images/LeoBurnett.png) no-repeat center right ;
            @include background-size(auto);
            padding: 90px 0;
            .messages{
                width: 350px;
            }
            p{
                font-size: 24px;
            }
            .author{
                font-size: 16px;
            }
        }
    }
    
    // common start
    //=============
     %titleSm{
        font-size:16px;
        line-height:20px;
        margin-bottom:15px;
        &:after{
            height:15px;
            margin-top:-7px;
        }
    }
    %next-prev-arrow{
        .owl-prev{
            bottom:0;
            left:0;
        }
        .owl-next{
            top:0;
            right:0;
        }
        .owl-prev, .owl-next{
            background:$grey-bg-primary;
            @include opacity(1);
            @include transition(all 0.5s ease);
            height:50%;
            position: absolute;
            i{
                font-size:30px;
                top:50%;
                margin-top:-14%;
                color:$grey-text-secondary;
            }
            &:hover{
                i{ 
                    color:$grey-text-primary;
                }
            }
        }
        &:hover{
            div{
                height:100%;
            }
        }
    }
    // common sm end
    //====================
    
    //approach
    //========
    .approach{
        background:#fff;
        overflow: hidden;
        padding:40px 0;
        height:100vh;
        max-height:700px;
        .layout-container{
            height:100%;
        }
        h2{
            font-size:52px;
            line-height:56px;
            margin-top:0px;
        }
        p{
            max-width:70%;
            font-size:18px;
            font-weight:500;
        }
        .great-company{
            position:absolute;
            bottom:0px;
            left:0;
            right:0;
        }
    }
    
    
    // work with us panel
    //====================
    .work-with-us-panel{
        position:relative;
        .layout-sm-6{
            position: static;
        }
        .zero-padd{
            height:100%; 
        }
        .owl-controls{
            position: absolute;
            left:50%;
            bottom:0;
            width:25%;
            height:50%;
            z-index: 100;
            .owl-buttons{
                height:100%;
                background:#fff;
                margin:0;
                @extend %next-prev-arrow;
            }
        }
        .workwithus-carousel-wrap{
            padding:10% 10% 0;
            .title{
                 @extend %titleSm;
            }
        }
        .owl-work-withus{
            position:static;
            h4{
                font-size:28px;
                line-height:35px;
            }
            p{
                font-size:16px;
            }
        }
        .zero-padd{
            padding:0;
        }
        p{
            display:block;
        }
    }
    
    //major-works-panel
    //==================
    .major-works-panel{
        .owl-bg{
            padding:0;
        }
        .owl-controls .owl-pagination{
            bottom:30px;
        }
    }
    .major-works-img{
        padding:0;
        text-align:right;
        display: inline-block;
        height: 100%;
        img{
            max-height:98%;
            max-width:98%;
            position:absolute;
        }
    }
    .major-works-box{
        display:table;
        height:100%;
        text-align: left;
        .table-cell{
            display:table-cell;
            vertical-align: middle;
        }
        h2{
            font-size:24px;
        }
        p{
            display: block;
            font-weight:300;
            line-height:24px;
            margin:0;
            margin-bottom:30px;
        }
    }
    
    //block-wrap
    //=====================
    .block-wrap{
        .block{
            .block-text{
                font-size:14px;
                margin-top:10px;
                cite{
                    font-size:22px;
                    line-height:24px;
                    margin:0;
                }
            }
        }
        .hex{
            h2{
                margin:0;
            }
            .block-text{
            }
        }
        &.used-tools{
            .block{
                background:$grey-bg-primary;
                @include box-shadow(none);
            }
            .block:nth-child(2n){
                background:$grey-bg-secondary;
            }
        }
    }
    //block-wrap
    //=====================
    .prev-next-wrap{
        width:50%;
        float:right;
        position: relative;
        @extend %next-prev-arrow;
    }

    //meet-our-team
    //======================
    .content-half-block{
        padding:10% 10% 0;
        .title{
            @extend %titleSm;
        }
        h4{
            font-size:23px;
            line-height:30px
        }
        p{
            line-height:24px;
        }
    }
    .meet-our-team{
        position: relative;
        overflow:hidden;
        li{
            background:$grey-bg-secondary;
            width:50%;
            float:left;
            margin:0;
            padding:0;
            position: absolute;
            p{
                font-size:15px;
            }
        }
        li:nth-child(3n), li:nth-child(4n-2) {
            background:$grey-bg-primary;
        }
        .prev-next-wrap{
            .owl-prev, .owl-next{
                background:$grey-bg-secondary;
            }
        }
    }
    //hex-download-stuff
    //==================
    .hex-download-stuff{
        padding:50px;
        h2{
            font-size:28px;
            line-height:30px;
        }
        p{
            margin-bottom:30px;
        }
    }
    //testimonials
    //==================
    .testimonial-panel{
        h2{
            font-size:26px;
            margin-left:15px;
        }
        .owl-pagination{
            left:15px;
        }
    }
    .testimonial{
        margin-left:15px;
        margin-right:15px;
        height:360px;
        figure{
            left:auto;
            right:-15px; 
            top:-40px;
            border-right:0;
            img{
                width:100px;
            }
        }
    }
    //stripe
    //========================
    .stripe-wrap{
        .hex{
            height:50% !important;
        }
    }
    .stripe-1 {
      color: white;
      background: repeating-linear-gradient(
        45deg,
        #606dbc,
        #606dbc 10px,
        #465298 10px,
        #465298 20px
      );
      float:left;
      display: block;
    }

//====================================
//=============end home===============

    // inner common banner
    //=====================
    .inner-banner{
        text-align:left;
        h1{
            font-size:50px;
        }
    }
    .bnr-casestudy{
        padding-top:150px;
        h1{
            line-height:1.2;
            margin:0;
            span{
                display:inline;
            }
        }
        a{ 
            text-decoration:none;
            font-size:16px;
            i{
                display:inline-block;
                position:relative;
                top:6px;
                font-size:26px;
                margin-right:10px;
            }
            &:hover{
                text-decoration:underline;
            }
        }
    }
    
    //work-filter
    //=====================
    .work-filter-panel.fixed{
        top:0;
        height:63px;
    }
    .work-filter{
        ul{
            margin:0 -15px;
        }
        text-align: left;
        li{
            padding:24px 6px;
            font-size:15px;
            font-weight:400;
            margin:0 15px;
        }
    }
     .move{
        height:4px;
    }
    //work block 
    //=================
    .work-panel{
        padding-top:93px;
    }
    .work-view-more{ 
        float:left;
        i{
            font-size:40px;
            top:40%;
        }
        .block-text{
            display: block;
        }
    }
    .work-img{
        display:block;
    }
    .work-dec-panel{
        .work-dec, .work-img, .work-img img{
            height:100%;
        }
    }
    .work-dec{
        padding:40px 40px 0;
    }
    
    //===================
    //work-block-list
    .work-block-list{
        margin-bottom:0;
        .block-wrap{
            float:none !important;
            @include transition(all 1s ease);
        }
    }
    .work-block-list:nth-child(even){
        .work-dec{
            float:right !important;
        }
        .block-wrap{
            margin-left:50%;
        }
    }
    
    // work-grid block
    //======================
    .work-block-grid{
        width:25%;
        .block-wrap{
            margin:0 !important;
            @include transition(none);
        }
        .block-wrap.layout-sm-6{
            width:100% !important;
        }
        .block{
            width:100% !important;
        }
    }
    
    //==================================
    // animation
    /*start animation meet-our-team*/
    .meet-our-team li{
        -webkit-transition: all 1s ease 0s;
        transition:all 1s ease 0s;
        &:nth-child(odd){
                left:0;
                top:0;
        }
        &:nth-child(even){
                left:50%;
                top:0;
        }
        &:nth-child(3n){
                left:0;
                top:50%;
        }
        &:nth-child(4n){
                left:50%;
                top:50%;
        }
    }
    .meet-our-team li.ng-enter, .meet-our-team li.ng-leave{
        &:nth-child(odd){
                left:25%;
                top:25%;
        }
        &:nth-child(even){
                left:25%;
                top:25%;
        }
        &:nth-child(3n){
                left:25%;
                top:25%;
        }
        &:nth-child(4n){
                left:25%;
                top:25%;
        }
    }
    .meet-our-team li.ng-enter {
      opacity:0;
      -webkit-transition: 0s !important;
      transition: 0s !important;
    }
    .meet-our-team li.ng-enter-active {
        opacity:0.2;
    }
    .meet-our-team li.ng-leave {
        -webkit-transition: all 1s ease 0s !important;
        transition:all 1s ease 0s !important;
        opacity:0.2;
        z-index:100;
    }
    .meet-our-team li.ng-leave-active {
        opacity:0;
    }
    .meet-our-team li.ng-move {
    }
    .meet-our-team li.ng-move-active {
    }
    /*end animation meet-our-team*/ 
    //===========================
    
    //work block animation
    //==========================
    .work-block{
        @include transition(all 1s ease);
    }
    .work-block-list {
        &.ng-enter{
            height:0 !important;
            overflow: hidden;
        }
        &.ng-enter-active{
           height:height-sm-3 !important; // (720/4)*3
        }
        &.ng-leave{
            opacity:1;
        }
        &.ng-leave-active{
            height:0;
            overflow: hidden;
            opacity:0;
        }
        &.ng-move{
        }
        &.ng-move-active{}
    }
    .work-block-grid {
        &.ng-enter{
           opacity:0;
           @include transition(all 1s ease);
           @include scale(0.8);
        }
        &.ng-enter-active{
            opacity:1;
            @include scale(1);
        }
        &.ng-leave{
            opacity:1;
            @include transition(all 1s ease); 
            @include scale(1);
        }
        &.ng-leave-active{
            opacity:0;
            @include scale(0.8);
        }
        &.ng-move{
        }
        &.ng-move-active{}
    }
    .work-block-switch{
        @include transition(all 1s ease);
        opacity: 1;
        overflow:hidden;
        
    }
    .work-block-switch.ng-hide {
        opacity: 0;
        top:0;
        left:15px;
        right:15px;
        position:absolute;
    }
    //=====================
    //end work block animation
 
    
    //=============================
    // ====== end work =======
    
    // start casestudy
    //next-prev-project
    //===============
    .next-prev-project-panel{
        height:63px;
        position:absolute;
        left:0;
        right:0;
        top:0;
        span{
            padding:14px 0;
            span{
                display:inline-block;
                padding:0;
            }
            i{
                font-size:25px;
                top:6px;
            }
            
            &.pull-left i{
                margin-right:12px;
            }
            &.pull-right i{
                margin-left:12px;
            }
            &:hover, &:hover span{
                color:$grey-text-primary;
                i{
                    color:$territory-color;
                }
            }
        }
    }
    .next-prev-project-panel.fixed{
        position:fixed;
        /*height:47px;
        span{
            padding:5px 0;
        }*/
    }
    .casestudy-panel{
        padding-top:93px;
    }
    .next-project{
        margin-top:-10px;
        span{
            font-size:22px;
        }
    }
    //casestudy master image panel
    //============================
    .case-master-image{
        position:relative;
        figure{
            height:$height-sm-2;
            img{
                height:100%;
            }
        }

        .case-master-logo{
            position:absolute;
            width:$height-sm-1;
            height:$height-sm-1;
            top:0;
            left:0;
        }
    }
    .case-project-dec, .case-project-spec{
        padding:30px;
    }
    .case-abt-project{
        display:block;
        height:$height-sm-2;
    }
    .case-project-dec h2{
        font-weight:400;
    }
    .case-project-spec{
        display:block;
        h3{
            color:$territory-color;
            font-size:16px;
            margin:8px 0 2px;
        }
        p{
            font-size:15px;
            margin-bottom:28px;
        }
        a{
            font-size:15px;
            color:$grey-text-secondary;
            i{
                margin-right:7px;
            }
            &:hover{
               color:$grey-text-primary;
            }
        }
    }
    .ui-used-fonts, .ui-used-icons{
        padding:40px 40px 0;
        .icons-wrap{
            text-align:left;
        }
    }
    .ui-used-fonts{
        h6{
            display:none;
        }
        img{
            display:block;
        }
    }
    
    .complete-site{
        display:block;
        position: relative;
        overflow-x:hidden;
        background:#fff;
        height:100vh;
        .case-content-block{
            height:auto !important;
            padding-left:0 !important;
            display:none;
        }
        .screen-img-wrap{
            position: absolute;
            width:100%;
            height:80%;
            top:0;
            bottom:0;
            margin:auto; 
        }
        img{
            position: absolute;
            bottom:0;
            max-height:100%;
            left:0;
            right:0;
            margin:0 auto;
        }
        .screen-mobile{
            z-index:300;
        }
        .screen-tab{
            z-index:200;
        }
        .screen-desktop{
            z-index:100;
        }
    }
    .show-fullsite{
        margin:30px auto 0;
        display:inline-block;
        position:absolute;
        z-index:100;
        left:0;
        right:0;
        bottom:10%;
        i{
            font-size:40px;
            margin:0 3px 0 0;
            color:$grey;
            cursor:pointer;
            background:#fff;
            padding:6px;
            border:1px solid lighten($grey-light, 30%);
            float: left;
            @include border-radius(3px);
            overflow: hidden;
        }
    }
    //animation
    //==========
    
    .screen-mobile, .screen-tab, .screen-desktop{
        @include transition(all 2s ease);
    }
    .screen-active-mobile{
        .show-fullsite .icon-mobile{
            color:$territory-color;
            border-color:$territory-color;
        }
    }
    .screen-active-tab{
        .show-fullsite .icon-tab{
            color:$territory-color;
            border-color:$territory-color;
        }
    }
    .screen-active-desktop{
        .show-fullsite .icon-desktop{
            color:$territory-color;
            border-color:$territory-color;
        }
    }
    
    .screen-active-tab{
        .screen-mobile{
            opacity:0;
        }
         .screen-tab{
            opacity:1
        }
    }
    .screen-active-desktop{
        .screen-mobile{
            opacity:0;
        }
         .screen-tab{
            opacity:0;
        }
         .screen-desktop{
            opacity:1;
        }
    }
    
    .case-testimonial-panel{
        text-align:left;
        p{
            font-size:32px;
            line-height:41px;
        }
        figure{
            float:right;
            position:relative;
            display: inline-block;
            margin-right:30px;
            @extend %border;
            img{
                border:10px solid #fff;
            }
        }
        figure span{
            display:block;
            @extend %border;
            &:after{
                top:auto !important;
                left:auto !important;
                right:-10px !important;
                width:10px !important;
                bottom:-10px !important;
                height:20% !important;
            }
            &:before{
                top:auto !important;
                left:auto !important;
                right:-10px !important;
                width:20% !important;
                bottom:-10px !important;
                height:10px !important;
            }
        }
    }
    .case-all-projects{
        li{
            width:269.8px;
            height:300px;
            @include transition(width 5s linear, opacity 5s linear, transform 5s linear );
        }
        li:first-child, li:nth-child(7){
            width:0 !important;
            @include scale(0.5);
            opacity:0;
            margin:0;
        }
    }
    
    
    .rotate-270-sm{
        @include rotate(270deg);
    }
    .pull-right-sm{
        float:right !important;
    }
    .hidden-sm{
        display:none !important;
    }
    %border{
        &:after, &:before{
            position:absolute;
            display:block;
            content:'';
            background:$primary-color;
        }
        &:after{
            width:80%;
            top:-10px;
            left:-10px;
            height:10px;
        }
        &:before{
            width:10px;
            top:-10px;
            left:-10px;
            height:80%;
        }
    } 
    .mail-us-panel{
        .layout-container{
            padding:50px 15px 0;
        }
        h2{
            font-size:28px;
            margin-bottom:20px;
        }
        &.mail-us-panel-show{
            height:$height-sm-2/4*3;
        }
    }
    .mail-us{
        margin:0 auto;
        width:550px;
        @include box-shadow( 9px 9px 0px rgba(0,0,0,0.11));
        padding-right:140px;
        input, button{
            height:50px;
            font-size:18px;
        }
        input{
            @include box-shadow( inset 7px 7px 0px $primary-color);
            padding:0 16px;
        }
        button{
            width:140px;
            font-weight:500;
        }
    }
    //approach
    //=================
    .approach-menu{
        margin:0;
        .step-count{
            position:static;
        }
        li{
            height:66px;
            padding-top:26px;
            font-size:15px;
            margin-right:20px;
        }
        .step-count{
            width:66px;
            height:66px;
            font-size:22px;
            line-height:66px;
            margin-right:20px;
        }
    }
    .approach-image-panel{
        position:relative;
        margin-bottom:30px;
    }
    .image-back{
        overflow: hidden;
        width:100%;
        height:100%;
        text-align: center;
        ul{
            height:100%;
            font-size:0;
            margin:auto;
            width:100%;
        }
        li{
            width:50%; 
            height:100%;
            display:inline-block;
            @include transition(all 10s linear);
            float:left;
        }
        li:first-child, li:last-child{
            width:0;
        }
        li.one{
            background:url('../images/casestudy/one.jpg') no-repeat center;
        }
        li.two{
            background:url('../images/casestudy/two.jpg') no-repeat center;
        }
        li.three{
            background:url('../images/casestudy/three.jpg') no-repeat center;
        }
        li.four{
            background:url('../images/casestudy/four.jpg') no-repeat center;
        }
    }
    .image-front{
        height:100%;
        left:0;
        right:0;
        top:0;
        margin:0 auto;
        position:absolute;
        overflow: hidden;
        padding:0;
        width:$layout-sm;
        h2{
            position:absolute;
            left:0;
            right:0;
            top:0;
            bottom:0;
            margin:auto;
            z-index: 1000;
            color:#fff;
            font-weight:300;
            font-style:italic;
            font-size:36px;
            margin:0;
            padding:0 150px;
            text-align: center;
            display: flex;
            justify-content: center; /* align horizontal */
            align-items: center; /* align vertical */
        }
        ul{
            height:100%;
        }
        li{
            height:100%;
            position:absolute;
            left:15px;
            right:15px;
            top:0;
            float:left;
            background-size:contain;
            @include transition(all 2s linear);
            opacity:0.3;
            border:2px solid #000;
            border-width:0 4px;
        }
        li.current{
            opacity:1;
            z-index:100;
        }
        li.one{
            background:orange url('../images/casestudy/one.jpg') no-repeat center;
        }
        li.two{
            background:green url('../images/casestudy/two.jpg') no-repeat center;
        }
        li.three{
            background:blue url('../images/casestudy/three.jpg') no-repeat center;
        }
    }
    .img-approach-frontend{
        display: block;
        padding-top:60px;
        margin-bottom:30px;
        .layout-container{
            padding:0 7px;
        }
    }
    

    //contact
    //=======
    .contact{
        padding:90px 0;
    }
    .contact-close{
        top:-60px;
        right:30px;
        width:30px;
        height:30px;
    }
    .contact-address{
        h3{
            font-size:29px;
        }
        p{
            font-size:16px;
            font-weight:300;
            line-height:24px;
            margin-bottom:30px;
            span, a{
                margin-bottom:30px;
            }
        }
        address{
            margin-bottom:40px;
            font-size:22px;
        }
    }
    .contact-form{
        border:none;
        padding:0;
        margin:0;
    }
    .form-control {
        display:inline-block;
        width:100%;
        label{
            float:left;
            width:40%;
            display: block;
            color:#fff;
            font-size:15px;
            font-weight:300;
            padding:18px 0 0 20px;
            sup{
                margin-left:2px;
            }
        }
        .field{
            float:left;
            width:60%; 
            input{
                height:50px;
            }
        }
        &.checkbox-wrap{
            position: relative;
            padding-left:40%;
            margin:10px 0;
            h6{
                position:absolute;
                left:20px; 
            }
            label{
                width:auto;
                display:inline-block;
                margin-right:40px;
                padding:0;
            }
            .chekcbox-icon{
                width:22px;
                height:22px;
                padding:3px 2px;
            }
        }
    }
    .submit-query{
        margin:15px 0 0 40%;
    }
    
    // about page
    //===========
    .about{
        padding:100px 0 0;
    }
    .about-content{
        margin-bottom:50px;
    }
    //height set
    //==========
    .block-wrap .block, 
    .block-wrap 
    .prev-next-wrap, 
    .meet-our-team li, 
    .ui-used-fonts, .ui-used-icons{
        height:$height-sm-1; // (720/4)*1
    }
    .stripe-1{
        width:$height-sm-1;
        height:$height-sm-1;
    }
    .work-with-us-panel, 
    .stripe-wrap, 
    .hex-download-stuff, 
    .inner-banner, 
    .work-dec-panel, 
    .meet-our-team,
    .content-half-block,
    .approach-image-panel{
        height:$height-sm-2; // (720/4)*2  
    }
    .work-block-list{
        height:$height-sm-3; // (720/4)*3
    }
    //window height
    //=============
    .major-works-panel,.heightset-major-works{
        height:100vh;
    }
    .hide-sm{
        display:none !important;
    }
    
    //about start
    //===========
    .client-logo .block{
        background:$grey-bg-secondary;
    } 
    .client-logo{
        @include transition(all 0.3s linear); 
    }
    .client-logo-bg:nth-child(8n+1) .block, 
    .client-logo-bg:nth-child(8n+3) .block, 
    .client-logo-bg:nth-child(8n+6) .block, 
    .client-logo-bg:nth-child(8n) .block{
      background:$grey-bg-primary;
    }
    .client-logo-bg:nth-child(8n+2) .block,
    .client-logo-bg:nth-child(8n+4) .block, 
    .client-logo-bg:nth-child(8n+5) .block, 
    .client-logo-bg:nth-child(8n+7) .block{
      background:$grey-bg-secondary;
    }
    .client-logo.ng-enter{
        width:0;
        overflow:hidden;
        img{
            opacity:0;
            @include transition(all 0.3s linear);
        }
    }
    .client-logo.ng-enter-active{
        width:25%;
        img{
            opacity:1;
        }
    }
    @include keyframes(client-arrow-move) {
        50%{
            margin-left:15px;
        }
        0% {
            margin-left:-15px;
        }

        100% {
            margin-left:-15px;
        }
    }
//end sm
//=======
}

@media (max-width: 767px) {
    //main-header
    .main-logo, .nav-btn, .main-header ul{
        @include transition(all 0.2s linear);
    }
    @include keyframes(move) {
        0% {
            top:-51px;
        }

        100% {
            top:0;
        }
    }
    .main-header{
        padding:10px 0;
        z-index:100;
        .layout-container{
            position:static;
        }
        ul{
            position:absolute;
            background:url('../images/bg-contact.png');
            left:0;
            right:0;
            top:100%;
            text-align:center;
            padding:15px 0;
            @include transition(none);
            border-bottom:5px solid $primary-color;
            display:none;
            li{}
            a{
                font-weight:500;
                font-size:14px;
                padding:6px 0;
                margin:8px 0;
                display:inline-block;
                color:$grey-text-secondary;
                border-bottom:2px solid $grey-text-secondary;
                position: relative;
                &:before{
                    font-family:$font-family-base;
                    padding:6px 0;
                    position:absolute;
                    top:0;
                    left:0;
                    content:attr(data-hover);
                    max-width:0;
                    @include transition(all 0.5s ease);
                    color:$primary-color;
                    display: inline-block;
                    overflow:hidden;
                    border-bottom:2px solid #000;
                }
                &:hover{
                    color:$primary-color;
                    &:before{
                        max-width:100%;
                    }
                }
            }
            li.active a{
                color:$primary-color;
                &:before{
                    max-width:100%;
                }
            }
        }
        &.fixed{
            position:fixed;
            padding:5px 0;
            height:41px;
            z-index:1001;
            @include animation(move 0.3s linear); 
            background:$primary-color;
            @include box-shadow(1px 1px 2px rgba(0, 0, 0, 0.1));
            .main-logo{
                font-size:21px;
            }
            .nav-btn{
                margin-top:5px;
            }
            ul{
                margin-top:0;
            }
            .menu-line:before {
                top: -7px;
            }
            .menu-line:after {
                bottom: -3px;
            }
        }
    }
    .layout-container{
        padding-left:30px;
        padding-right:30px;
    }
    .meet-our-team li{
        background:$grey-bg-secondary;
    }
    .meet-our-team li:nth-child(2n){
        background:$grey-bg-primary;
    }
    
    .inner-header {
        .header-content {
            text-align: center;
            padding: 50px 0;
        }
    }
    .icon-type-list, .icon-type-grid{
        position:absolute;
        top:24px;
        right:0;
        background:lighten($grey-light, 35%);
        background:#fff;
        @include box-shadow(inset 0px 0px 1px lighten($grey-light, 10%) );
        opacity:0.7;
    }
    .icon-type-list.current, .icon-type-grid.current{
        background:#fff;
        @include box-shadow(inset 0px 0px 1px lighten($grey-light, 0%) );
        opacity:1;
    }
    .icon-type-list{
        right:40px;
    }
    footer {
        .menu-block {
            .footer-logo {
                margin-bottom: 10px;
            }
            .footer-nav{
                margin-bottom: 15px;
            }
        }
        .copy-rights{
            text-align: center;
            .powered-by{
                margin-top: 10px;
            }
        }
    }
    
    .block-wrap{
        .cup, .deployed{
            display:none;
        }
    }
    
    .testimonial-panel{
        .layout-container{
            padding:0;
        }
        h2{
            padding:0 30px;
        }
    }
    //==================
    //===== home end ====
    
    .work-filter-panel{
        margin:0 -25px;
    }
.mail-us-panel{
    bottom:-100%;
    height:auto;
    .layout-container{
        padding:60px 15px;
    }
    &.mail-us-panel-show{
        bottom:0;
    }
}
    //block mobile additional style
    //===========================
    
    .block-wrap {
        //home page , casestudy page
        //================
    .block/*more-works, .work-with-us-link, .sketch, .wireframe, .discussion, .requirment, .study, .research, .prototyping, .architecture, .journy, .testing, .interactivity, .layout, .illustration, .coding, .animation, .script, .quality, .qa-testing, .qa-assurance, .web-design, .mobileapp-design, .branding, .mvc-framework, .front-end-dev*/{
            height:calc(50vw - 30px);
            .item-center img{
                max-width:50%;
            }
            .block-text{
                font-size:4vw;
                margin-top:2vw;
            }
        }
        .requirment, .mobileapp-design, .interactive-animation {
            background-color:$grey-bg-primary;
        }
        .front-end-dev{
            background-color:$grey-bg-secondary;
        }
        .project-color{
            height:calc(50vw - 30px);
        }
        //work page
        //===============
        .block.work-link, .block.work-view-more{
            height:calc(100vw - 50vw);
        }
        //casestudy
        //============
        &.used-tools{
            .block:nth-child(4n), .block:nth-child(4n - 3 ){
                background:$grey-bg-primary;
                @include box-shadow(none);
            }
            .block:nth-child(4n - 1 ), .block:nth-child(4n - 2 ){
                background:$grey-bg-secondary;
            }
        }
    }
    .ui-used-icons{
        height:calc(50vw - 30px);
    } 
    .work-block-list{
        .work-link{
            width:65%;
            float:left;
        }
        .work-view-more{
            width:35%;
            float:left;
        }
    }
    .case-abt-project, .case-ux-panel, .case-ui-panel, .case-frontend-panel, .approach-research-panel, .approach-ux-panel, .approach-ui-panel, .approach-fronend-panel, .approach-frontend-panel{ 
        margin-bottom:15px;
    }
    
    div.f-none-mobile{
        float:none !important;
    }
    .hide-mobile, .approach-image-panel, .block-wrap .stripe-1{
        display:none !important;
    }
//end
//============
}

 
@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
    .hide-only-sm{
        display:none !important;
    }
}

// menu on scroll hide
//====================
@media (min-width: $screen-sm) and (max-width: ($screen-sm + 100)) {
    .larger-width{
        display:none;
    }
//end
}
@media (min-width: $screen-md) and (max-width: ($screen-md + 100)) {
    .larger-width{
        display:none;
    }
//end
}

 