
 

@media (max-width: 319px){  
    /*.block-wrap .more-works, .block-wrap .work-with-us-link{
        background-size:20% auto;
    } */ 
    .block-wrap .block{
        height:calc(100vw - 25vw);
        span{
            font-size:5vw !important;
            bottom:16% !important;
        }
    }
//end
}

 @media (min-width: 481px) and (max-width: 767px) {
     .portfolio-filter li{
         padding:20px 10px;
         font-size:13px;
     }
//end
}
 @media (min-width: 481px){
     
//end
}
@media only screen and (max-device-width: 1280px) and (orientation:landscape) {
       
//end
}
@media (width: 768px){
         
//end
}
