@media (min-width: $screen-md-min) {
    //height variable
    //=================
    $height-md-1 : ($layout-md - $grid-gutter)/4*1;
    $height-md-2 : ($layout-md - $grid-gutter)/4*2;
    $height-md-3 : ($layout-md - $grid-gutter)/4*3;
    $height-md-4 : ($layout-md - $grid-gutter)/4*4;
    
    
    // main-header common
    //===================
    .main-header{
        .main-logo{
            left:50%;
            margin-left:-$height-md-4/2;
        }
        .nav-btn{
            left:50%;
            margin-left:($height-md-4/2)- 26
        }
    }
    //main-header
    //======
    /*.main-header{
        ul{
            margin-right:40px;
        }
    }*/
    //home-main-panel
    //==================
    .home-main-panel{
        padding:40px 0;
    }
    //banner
    //===============
    .banner{
        padding-top:20vh;
        h2{
            font-size:55px;
        }
        p{
            font-size:17px;
        }
    }
    
    //work-with-us
    //===============
    .work-with-us-panel{
        height:485px;
        .workwithus-carousel-wrap{
            padding:22% 15% 0; 
                .title{
                    font-size:18px;
                    margin-bottom:20px;
                }
        }
        .owl-controls .owl-buttons div i{
            top:46px; 
        }
    }
    
    //major-works
    .major-works-box{
        padding-right:10%;
    }
    //meet-our-team
    //======================
    .content-half-block{
        padding:22% 15% 0; 
        .title{
            font-size:18px;
            margin-bottom:20px;
        }
        h4{
            font-size: 28px;
            line-height: 35px;
        }
    }
    
     //block-wrap
    //=========================
    .block-wrap{
        .block{
            .block-text{
                 
                cite{
                    font-size:30px;
                    line-height:36px;
                    margin-bottom:3px;
                }
            }
        }
    }
    //hex-download-stuff
    //==================
    .hex-download-stuff{
        padding:105px;
    }
    //testimonials
    //==================
    .testimonial-panel{
        padding:80px 0;
    }
    .testimonial{
        margin-top:80px;
        height:300px;
    }
//====================================
//=============end home===============

    //
    //=============
    .work-block-list.ng-enter-active{
        height:$height-md-3 !important; // (940/4)*3
    }
     .work-dec{
        padding:120px 60px 0;
    }
    
    //casestudy
    //===============
     //casestudy master image panel
    //============================
    .case-master-image{
        figure{
            height:$height-md-2;
        }
        .case-master-logo{
            width:$height-md-1;
            height:$height-md-1;
        }
    }
    .case-abt-project{
        display:block;
        height:$height-md-2;
    }
    .case-project-dec, .case-project-spec{
        padding:70px;
    }
    .case-project-dec p{
        font-size:16px;
        line-height:28px;
    }
    .case-project-spec {
        h3{
            margin:10px 0 10px;
        }
        p{
            font-size:16px;
            margin-bottom:37px; 
        }
    }
     
    .ui-used-fonts{
        h6{
            display:block;
        }
        img{
            display:block;
        }
        .gap{
            height:25px;
        }
    }
    .ui-used-icons{
        .icons-wrap {
            margin:0 -12px;
            img{
                max-width:80px;
            }
        }
    }
    .complete-site{
        .case-content-block{
            display:block;
            padding-right:120px !important;
        }
        img{
            left:auto;
            right:auto;
        }
        .screen-mobile{
            left:50%;
        }
        .screen-tab{
            left:55%;
        }
        .screen-desktop{
            right:-42%;
        }
    }
    .screen-active-tab{
        .screen-mobile{
            left:25%;
        }
         .screen-tab{
            left:50%;
        }
    }
    .screen-active-desktop{
        .screen-mobile{
            left:25%;
        }
         .screen-tab{
            left:25%;
        }
         .screen-desktop{
            left:auto;
            right:-60px;
            opacity:1;
        }
    }
    .show-fullsite{
        bottom:15%;
        i{
            border:none;
            margin:0 7px 0 0;
        }
    }
    .mail-us-panel{
        .layout-container{
            padding:60px 15px 0;
            h2{
                font-size:26px;
                margin-bottom:22px;
            }
        }
        &.mail-us-panel-show{
            height:$height-md-2/2+45;
        }
    }
    .image-front, .image-front ul{
        width:$layout-md;
    }

    .img-approach-frontend{
        .layout-container{
            padding:0 5px;
        }
    }
    .contact-address{
        padding-right:80px;
    }
    .form-control label{
        padding-left:40px;
    }
    .form-control.checkbox-wrap h6{
        left:40px;
    }
    .submit-query{
        height:62px;
        padding:0 30px;
        font-size:16px;
    }
    .social-media{
        margin-left:-5px;
        a{
            font-size:22px;
        }
    }
    // about page
    //===========
    .about{
        padding:140px 0 0;
        min-height:100vh;  
    }
    .about-content{
        margin-bottom:90px;
        h2{
            font-size:42px;
            line-height:50px;
            margin-bottom:45px;
            span{
                font-size:18px;
                line-height:26px;
            }
        }
    }
    .toobler-hex{
        margin-bottom:50px;
    }
    .img-about{
        text-align:right;
    }
    
    //image-flip-panel
    //================
/*    .image-flip-panel{
        height:$height-md-2;
        .flip-container{
            margin-right:-$height-md-1;
        }
        .img-flip-1-1{
            width:$height-md-1;
            height:$height-md-1;
        }
        .img-flip-1-2{
            width:$height-md-1;
            height:$height-md-2;
        }
        .img-flip-2-2{
            width:$height-md-2;
            height:$height-md-2;
        }
        .img-flip-2-1{
            width:$height-md-2;
            height:$height-md-1;
        }
    }*/
    
    //height set
    //==========
    .block-wrap .block, 
    .block-wrap .prev-next-wrap, 
    .meet-our-team li,
    .ui-used-fonts, .ui-used-icons{
        height:$height-md-1; // (940/4)*1
    }
    .stripe-1{
        width:$height-md-1;
        height:$height-md-1;
    }
    .work-with-us-panel, 
    .stripe-wrap, 
    .hex-download-stuff, 
    .inner-banner, 
    .work-dec-panel, 
    .meet-our-team,
    .content-half-block,
    .approach-image-panel{
        height:$height-md-2; // (940/4)*2 
    }
    .work-block-list{
        height:$height-md-3; // (940/4)*3
    }
    

//end
}

                    