//write something...
.about{
    background:url('../images/bg-contact.png');
    padding:80px 0 40px;
}
.about-content{
    h2{
        margin-bottom:40px;
        font-size:32px;
        line-height:40px;
        color:#fff;
        span{
            position:absolute;
            color:$grey-text-secondary;
            top:-40px;
            font-size:14px;
            
        }
    }
    p{
        color:$grey-text-secondary;
    }
}
.toobler-hex{
    margin:0 0 30px;
    span{
        color:#fff;
        font-weight:bold;
        font-size:25px;
    }
    cite{
        width:2px;
        height:18px;
        display:inline-block;
        background:$grey-text-primary;
        margin:0 12px; 
    }
}
.aboutpage-process{
    position:relative;
    .bg-aboutpage-process{
        position:absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        background:url('../images/bg-contact.png');
        z-index:10;
        display:block;
        opacity:0.8; 
        @include transition(all 0.3s ease);
    }
}
.about-process{
    position:relative;
    img{
        display:block;
    }
    h3{
        position:absolute;
        left:0;
        right:0;
        top:0;
        bottom:0;
        margin:auto;
        font-size:18px;
        font-weight:500;
        line-height: 26px;
        height:26px;
        text-align:center;
        z-index:20;
        color:$grey-text-secondary;
        @include transition(all 0.3s ease);
        span{
            margin:10px auto 0;
            display:block;
            width:10%;
            height:2px;
            background:$primary-color;
            @include transition(all 0.3s ease);
        }
    }
    &:hover{
        .bg-aboutpage-process{
            opacity:0.7;
        }
        h3{
            color:$primary-color;
            font-size:20px;
            font-weight:300;
            line-height:28px;
            height:28px;
            span{
                margin-top:0;
                width:20%;
                height:1px;
            }
        }
    }
}
.services, .clients{
    background:$sub-bg;
}
.quote{
    background:#1babe3;
    color:#fff;
    font-size:22px;
    line-height:30px;
    font-weight:300;
    blockquote{
        padding:0 20px;
    }
    cite{
        display:block;
        margin:2% 0 0;
        font-weight:700;
        font-size:14px;
    }
}
.client-logo{
        background:$grey-bg-secondary;
}
.client-logo-bg:nth-child(even){
        background:$grey-bg-secondary;
} 
.client-logo-bg:nth-child(odd){
        background:$grey-bg-primary;
} 
.nex-client-btn .block{
    cursor:pointer;
    background:#fff;
    i{
        font-size:40px;
        @include animation(client-arrow-move 1.8s  infinite linear);
    }
}


