.pull-left{
    float:left;
}
.pull-right{
    float:right;
}
//main-header
.main-header{
    position:absolute;
    left:0;
    right:0;
}



//write something...
.intro-stage {
    background-color: $primary-color;
    height: 100vh;
    position: relative;
    .mouse_scroll {
        position: absolute;
        bottom: 10vh;
        margin: auto;
    }
}

//banner
.banner{
    text-align:center;
    padding-top:30vh;
    h2{
        font-family:$roboto;
        font-weight:700;
        font-size:30px; 
        margin-bottom:10px;
        color:#000;
    }
    p{
        font-family:$roboto;
        font-size:14px;
        font-weight:700;  
        color:$text-in-theme;
        margin-bottom:20px;
    }
    .layout-container{
        margin-bottom:5vh;
    }
}

//approach
.approach{
    padding:30px 0;
    h2{
        font-family:$roboto;
        font-weight:600;
        font-size:34px;
        line-height:34px;
    }
}
//home-main-panel
.home-main-panel{
    background:$sub-bg url('../images/bg-home.png') no-repeat center 0;
    padding:30px 0;
}
%title{
    color:$sub-title-color;
    text-transform:uppercase;
    display: inline-block;
    font-size:14px;
    position: relative;
    margin:20px 0 15px;
    font-weight:300;
    &:after{
        position:absolute;
        display: block;
        width:3px;
        height:12px;
        content:'';
        right:-10px;
        top:50%;
        margin-top:-5px;
        background:$territory-color;
    }
}
    %owl-buttons{
        margin:0 -15px;
        height:calc(50vw - 30px);
    }
    %next-arrow, %prev-arrow{
        background:none;
        width:50%;
        height:calc(50vw - 30px);
        margin:0;
        float:left;
        @include border-radius(0);
        position: relative;
        i{
            color:$grey-text-primary; 
            font-size:12vw;
            top:50%;
            left:0;
            right:0;
            margin-top:-13%;
            position:absolute;
        }
        &:hover{
            background:$grey-bg-primary;
        }
    }

.work-with-us-panel{
    background:#fff;
    .workwithus-carousel-wrap{
        padding:15px 15px 0;
    }
    .title{
         @extend %title;
    }
    h4{
        font-size:18px;
        line-height:26px;
    }
    p{
        display:none;
    }
    .owl-controls{
        margin:0;
    }
    .owl-buttons{
        @extend %owl-buttons; 
    }
    .owl-next, .owl-prev{
        @extend %next-arrow;
        @extend %prev-arrow;
    }
    /*.owl-next .icon-arrow-thin-right{
        right:-5px;
        left:auto;
    }*/
}
 
//major-works-panel 
.major-works-panel{
    background:$territory-color;
    text-align: center;
    .owl-bg{
        display:inline-block;
        width:100%;
        padding:50px 0 70px;
    }
    .owl-controls{
        position:relative;
        margin:0;
        .owl-pagination{
            position:absolute;
            left:0;
            right:0;
            bottom:20px;
            .owl-page span{
                background:#fff;
                width:10px;
                height:10px;
                margin-left:5px;
                margin-right:5px;
            }
        }
    }
}
.major-works-img{
    max-width:100%;
    padding:0 12%;
    img{
        position: static;
    }
}
.major-works-box{
    h2{
        color:#fff;
        font-size:20px;
        text-transform:uppercase;
        margin-top:15px;
    }
    p{
        display: none;
        color:#fff;
    }
    .btn-major-works{
        color:$primary-color;
        background:#fff;
        @include border-radius(2px);
        padding:8px 17px;
        font-size:16px;
        display:inline-block;
        &:hover{
            color:#000;
        }
    }
}

.block-wrap{
    .block{
        height:calc(100vw - 25vw);
        display: block;
        position: relative;
        text-align:center;
        @include transition(none);
        span{
            position:absolute;
            bottom:21%;
            left:0;
            right:0;
            font-size:5vw;
            text-transform:uppercase;
        }
    }
    a.block {
        cursor:pointer;
        span{
            text-decoration:underline;
            text-transform:lowercase;
        }
        &:hover{
            span{
                text-decoration:none; 
                color:#000;
            }
        }
    }
    //home
    //========
    .more-works{
        background:$primary-color url('../images/ico-seemoreworks.png') no-repeat center calc(50% - 10px);
        span{
            color:$text-in-theme;
        }
    }
    .work-with-us-link{
        background:$grey-bg-secondary url('../images/ico-work-with-us-link.png') no-repeat center calc(50% - 10px);
    }
    .about-team{
        background:$primary-color url('../images/ico-about.png') no-repeat center calc(50% - 10px);
        span{
            color:$text-in-theme;
        }
    }
    .deployed{
        background:$grey-bg-primary url('../images/ico-deployed-projects.png') no-repeat center calc(50% - 30px);
        @extend %hexblock;
    }
    .music{
        background:#fff url('../images/ico-music.png') no-repeat center calc(50% - 30px);
        @extend %hexblock;
    }
    .cup{
        background:$grey-bg-primary url('../images/ico-cup.png') no-repeat center calc(50% - 30px);
        @extend %hexblock;
    }
    .hex{
        background:$grey-bg-primary;
        h2{
            font-family:$title-font;
            font-size:30px;
            margin-top:35%;
            display: inline-block;
            color:$grey-text-primary;
        }
        span{
            bottom:35%;
            color:$grey-text-primary;
        }
    }
    //casestudy
    //==============
    /*.ux{
        background:$grey-bg-primary url('../images/ico-ux.png') no-repeat center calc(50% - 10px);
    }*/
    .sketch{
        background:$grey-bg-primary url('../images/ico-sketch.png') no-repeat center calc(50% - 10px);
    }
    .wireframe{
        background:$grey-bg-secondary url('../images/ico-wireframe.png') no-repeat center calc(50% - 10px);
    }
    .communication{
        background:$grey-bg-secondary url('../images/ico-communication.png') no-repeat center calc(50% - 10px);
    }
    .requirment{
        background:$grey-bg-secondary url('../images/ico-requirment.png') no-repeat center calc(50% - 10px);
    }
    .study{
        background:$grey-bg-primary url('../images/ico-study.png') no-repeat center calc(50% - 10px);
    }
    .research{
        background:$grey-bg-secondary url('../images/ico-research.png') no-repeat center calc(50% - 10px);
    }
    .prototyping{
        background:$grey-bg-secondary url('../images/ico-prototyping.png') no-repeat center calc(50% - 10px);
    }
    .architecture{
        background:$grey-bg-primary url('../images/ico-architecture.png') no-repeat center calc(50% - 10px);
    }
    .journy{
        background:$grey-bg-primary url('../images/ico-journy.png') no-repeat center calc(50% - 10px);
    }
    .testing{
        background:$grey-bg-secondary url('../images/ico-testing.png') no-repeat center calc(50% - 10px);
    }
    .interactivity{
        background:$grey-bg-secondary url('../images/ico-interactivity.png') no-repeat center calc(50% - 10px);
    }
    .layout{
        background:$grey-bg-primary url('../images/ico-layout.png') no-repeat center calc(50% - 10px);
    }
    .illustration{
        background:$grey-bg-primary url('../images/ico-layout.png') no-repeat center calc(50% - 10px);
    }
    .coding{
        background:$grey-bg-secondary url('../images/ico-coding.png') no-repeat center calc(50% - 10px);
    }
    .animation{
        background:$grey-bg-primary url('../images/ico-animation.png') no-repeat center calc(50% - 10px);
    }
    .quality{
        background:$grey-bg-secondary url('../images/ico-quality.png') no-repeat center calc(50% - 10px);
    }
    .qa-testing{
        background:$grey-bg-primary url('../images/ico-qa-testing.png') no-repeat center calc(50% - 10px);
    }
    .qa-assurance{
        background:$grey-bg-primary url('../images/ico-qa-assurance.png') no-repeat center calc(50% - 10px);
    }
    /*.ui{
        background:$white-grey2 url('../images/ico-ui.png') no-repeat center calc(50% - 10px);
    }*/
   /* .photoshop{
        background:$white-grey2 url('../images/ico-ps.png') no-repeat center calc(50% - 10px);
    }
    .illustrator{
        background:$white-grey url('../images/ico-ai.png') no-repeat center calc(50% - 10px);
    }*/

    .go-bottom{
        background:$primary-color none;
        i{
            font-size:52px;
            position:absolute;
            left:0;
            right:0;
            top:40%;
        }
    }
    .go-bottom-used{
        background:$grey-text-primary none;
        span,i{
            color:$grey-text-secondary;
        }
    }
    &.used-tools{
        .block{
            background:$grey-bg-secondary;
            @include box-shadow(inset 0px 0px 1px lighten($grey-text-secondary, 10%));
            img{
                position:absolute;
                left:0;
                right:0;
                top:-10px;
                bottom:0;
                margin:auto;
            }
        }
    }
    .project-color{
        .color-name, .color-code{
            color:$secondary-color;
            opacity:0.8;
            font-size:14px;
            position:absolute;
            left:18%;
            top:25%;
            text-transform:uppercase;
        }
        .color-code{
            font-size:22px;
            font-weight:500;
            top:54%;
        }
    }
}
.rotate-270{
    @include rotate(270deg);
}
%hexblock{
    span{
        text-decoration:none;
        color:$grey-text-primary; 
        cite{
            font-weight:bold;
            display: block;
            font-size:6vw;
            line-height:5vw;
        }
    }
}
.prev-next-wrap{
    text-align:center;
    height:calc(50vw - 30px);
    background:#fff;
    .owl-next, .owl-prev{
        cursor:pointer;
        @extend %next-arrow;
        @extend %prev-arrow; 
    }
}
.v-middle-wrap{
    vertical-align:middle;
    height:100%;
    width:100%;
    display:inline-block;
    .helper{
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }
    .v-middle{
        display:inline-block;
        vertical-align:middle;
        margin-top:5px;
    }
    img.v-middle{
        max-width:96%;
        margin-left:-2px;
    }
}
%img-middle{
    top:0;
    left:0;
    right:0;
    bottom:0;
    position:absolute;
    margin:auto;
}
.img-middle{
    @extend %img-middle;
}
//meet-our-team-panel
.meet-our-team-panel{
    background:#fff;
}
.content-half-block{
    padding:15px 15px 30px;
    background:#fff;
    .title{
        @extend %title;
    }
    h4{
        font-size: 18px;
        line-height: 26px;
    }
}
.meet-our-team{
    li{
        text-align: center;
        padding:10% 0 9%;
        figure{
            margin-bottom:5px;
        }
        h5{
            font-size:16px;
            margin-bottom:0;
        }
        p{
            color:$grey-text-primary;
            font-size:16px;
        }
    }
}
//hex-download-stuff
.hex-download-stuff{
    background:#fff;
    padding:30px;
    h3{
        font-size:14px;
        color:$grey-text-secondary;
        text-transform:uppercase;
    }
    h2{
        font-size:20px;
        color:$grey-text-primary; 
    }
    p{
        font-size:16px; 
        color:$grey-text-primary;
    }
    a{
        color:$grey-text-primary;
        text-decoration: underline;
        &:hover{
            text-decoration:none;
        }
    }
}

//testimonial-panel
//=================
.testimonial-panel{
    padding:30px 0;
    h2{
        font-size:20px;
        margin-bottom:15px;
    }
    .owl-pagination{
        position: absolute;
        top:0;
        left:30px;
    }
    .owl-page{
        span{
            background:$grey-bg-primary !important;
            margin:0 5px 0 0 !important;
            width: 11px !important;
            height:11px !important;
            opacity:1 !important;
        }
        &.active{
            span{
                background:$territory-color !important;
            }
        }
    }
}
 
.testimonial{
    margin:60px 30px 30px;
    background:$primary-color;
    padding:30px 35px;
    position: relative;
    h3{
        font-size:18px;
        margin-bottom:10px;
        color:$title-in-theme
    }
    span{
        color:$text-in-theme;
        font-size:16px;
        margin-bottom:25px;
        display: block;
    }
    p{
        color:$text-in-theme;
    }
    figure{
        position:absolute;
        top:-50px;
        right:-15px;
        border:7px solid #fff;
        img{
            width:77px;
            display: block;
        }
    }
}
.content-area{
    position:relative;
}
.hidden{
    visibility:hidden !important;
}
