//header
header{
    position:absolute;
    left:0;
    top: 0;
    right:0;
    z-index:100;
}
//write something...
.intro-stage {
    background-color: $primary-color;
    height: 100vh;
    position: relative;
    .mouse_scroll {
        position: absolute;
        bottom: 10vh;
        margin: auto;
    }
}

//banner
.banner{
    text-align:center;
    padding-top:30vh;
    h2{
        font-family:$roboto;
        font-weight:700;
        font-size:30px; 
        margin-bottom:10px;
    }
    p{
        font-family:$roboto;
        font-size:14px;
        font-weight:700;  
        color:lighten($black, 30%);
        margin-bottom:20px;
    }
    .layout-container{
        margin-bottom:5vh;
    }
}

//approach
.approach{
    padding:30px 0;
    h2{
        font-family:$roboto;
        font-weight:600;
        font-size:34px;
        line-height:34px;
    }
}
//home-main-panel
.home-main-panel{
    background:#909090 url('../images/bg-home.png') no-repeat center 0;
    padding:15px 0;
}
%title{
    color:#58595b;
    text-transform:uppercase;
    display: inline-block;
    font-size:14px;
    position: relative;
    margin:20px 0 15px;
    font-weight:bold;
    &:after{
        position:absolute;
        display: block;
        width:3px;
        height:12px;
        content:'';
        right:-10px;
        top:50%;
        margin-top:-5px;
        background:#e1ca4e;
    }
}
    %owl-buttons{
        margin:0 -15px;
        height:calc(50vw - 30px);
    }
    %next-arrow, %prev-arrow{
        background:none;
        width:50%;
        height:calc(50vw - 30px);
        margin:0;
        float:left;
        @include border-radius(0);
        position: relative;
        i{
            color:$grey-medium;
            font-size:12vw;
            top:50%;
            left:0;
            right:0;
            margin-top:-13%;
            position:absolute;
        }
        &:hover{
            background:#f0f0f0;
        }
    }

.work-with-us-panel{
    background:#fff;
    .workwithus-carousel-wrap{
        padding:15px 15px 0;
    }
    .title{
         @extend %title;
    }
    h4{
        font-size:18px;
        line-height:26px;
    }
    p{
        display:none;
    }
    .owl-controls{
        margin:0;
    }
    .owl-buttons{
        @extend %owl-buttons; 
    }
    .owl-next, .owl-prev{
        @extend %next-arrow;
        @extend %prev-arrow;
    }
    /*.owl-next .icon-arrow-thin-right{
        right:-5px;
        left:auto;
    }*/
}
 
//major-works-panel 
.major-works-panel{
    background:#0076b2;
    text-align: center;
    padding:40px 0 50px;
    .owl-controls{
        position:relative;
        .owl-pagination{
            position:absolute;
            left:0;
            right:0;
            bottom:-30px;
            .owl-page span{
                background:#fff;
                width:10px;
                height:10px;
                margin-left:5px;
                margin-right:5px;
            }
        }
    }
}
.major-works-img{
    max-width:100%;
    padding:0 12%;
}
.major-works-box{
    h2{
        color:#fff;
        font-size:20px;
        text-transform:uppercase;
    }
    p{
        display: none;
    }
    .btn-major-works{
        color:#0076b2;
        background:#fff;
        @include border-radius(2px);
        padding:8px 17px;
        font-size:16px;
        display:inline-block;
        &:hover{
            color:#000;
        }
    }
}

.block-wrap{
    .block{
        height:calc(100vw - 25vw);
        display: block;
        position: relative;
        cursor:pointer;
        text-align:center;
        @include transition(none);
        span{
            position:absolute;
            bottom:21%;
            left:0;
            right:0;
            text-decoration:underline;
            font-size:5vw;
            color:$grey-medium2;
            text-transform:lowercase;
        }
        &:hover{
            span{
                color:#000;
            }
            span{
                text-decoration:none;
            }
        }
    }
    .more-works, .work-with-us-link{
        height:calc(50vw - 30px);
        span{
            font-size:4vw;
            bottom:14%;
        }
    }
    .more-works{
        background:$primary-color url('../images/ico-seemoreworks.png') no-repeat center calc(50% - 10px);
    }
    .work-with-us-link{
        background:$white-grey url('../images/ico-work-with-us-link.png') no-repeat center calc(50% - 10px);
    }
    .about-team{
        background:$primary-color url('../images/ico-about.png') no-repeat center calc(50% - 20px);
    }
    .deployed{
        background:$white-grey2 url('../images/ico-deployed-projects.png') no-repeat center calc(50% - 20px);
        @extend %hexblock;
    }
    .music{
        background:#fff url('../images/ico-music.png') no-repeat center calc(50% - 20px);
        @extend %hexblock;
    }
    .cup{
        background:$white-grey2 url('../images/ico-cup.png') no-repeat center calc(50% - 20px);
        @extend %hexblock;
    }
    .hex{
        background:$white-grey2;
        h2{
            font-family:$title-font;
            font-size:30px;
            margin-top:35%;
            display: inline-block;
            color:$grey-medium2;
        }
        span{
            bottom:35%;
        }
    }
}
%hexblock{
    span{
        text-decoration:none;
        cite{
            font-weight:bold;
            display: block;
            font-size:6vw;
            line-height:12px;
        }
        &:hover{
            text-decoration:underline;
        }
    }
}
.prev-next-wrap{
    text-align:center;
    height:calc(50vw - 30px);
    background:#fff;
    .owl-next, .owl-prev{
        cursor:pointer;
        @extend %next-arrow;
        @extend %prev-arrow; 
    }
}
.v-middle-wrap{
    vertical-align:middle;
    height:100%;
    display:inline-block;
    .helper{
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }
    .v-middle{
        display:inline-block;
        vertical-align:middle;
        margin-top:5px;
    }
}
//meet-our-team-panel
.meet-our-team-panel{
    background:#fff;
}
.meet-our-team-content{
    margin-bottom:30px;
    padding:15px 15px 0;
    .title{
        @extend %title;
    }
    h4{
        font-size: 18px;
        line-height: 26px;
    }
}
.meet-our-team{
    li{
        text-align: center;
        background:$white-grey;
        padding:10% 0 9%;
        figure{
            margin-bottom:5px;
        }
        h5{
            font-size:16px;
            margin-bottom:0;
        }
        p{
            color:#757677;
            font-size:16px;
        }
    }
}