.banner-wrap-inner{
    background:url('../images/banner/banner-inner.jpg') no-repeat center top;
    text-align:center;
    
    h1{
        font-size:8vw;
        margin:0;
        color:$title-in-theme;
        text-transform:uppercase;
    }
    p{
        color:$text-in-theme;
        font-size:16px;
    }
}
 
//inner-page content panel
//=======================
.portfolio-panel, .casestudy-panel, .approach-panel{
    padding-top:30px;
}