.inner-banner{
    background:url('/images/banner/banner-inner.jpg') no-repeat center;
    text-align:center;
    height:100vw;
    max-height:350px;
    padding-top:145px;
    h1{
        font-size:8vw;
        margin:0;
        color:$title-in-theme;
        text-transform:uppercase;
    }
    p{
        color:$text-in-theme;
        font-size:16px;
    }
}

//inner-page content panel
//=======================
.portfolio-panel, .casestudy-panel{
    padding-top:30px;
}